dl.dl-horizontal.supporting-material-metadata(ng-form, name="metadataForm")

  dt
    div.form-horizontal
      label.control-label Title 
  
  dd(ng-class="{'has-error': metadataForm.title.$error}")
    input.form-control(
      id='title', 
      name='title',
      type='text', 
      ng-model='title',
      ng-change="checkTitleIsAvailable()"
      placeholder='enter title', 
      required='required')
    span.error(ng-show="metadataForm.title.$error") {{metadataForm.title.$error}} 

  dt
    div.form-horizontal
      label.control-label Type
  dd
    select(id='type', ui-select2='{minimumResultsForSearch: -1}', style='width: 200px;', ng-model='materialType')
      option(ng-repeat='materialType in materialTypes') {{materialType}}
          
  div(ng-show='materialType == other')
    dt
      label.control-label(for='supporting-material-type-text') Other
    dd
      input.form-control(name='others', type='text', ng-model='otherMaterialType', required='required')
   
  dt Source
  
  dd(ng-show="!sourceIsEditable")
    label {{source == 'binary' ? 'uploaded file' : 'html'}}

  dd(ng-show="sourceIsEditable")
    radio(id='create', value='html', ng-model='source') create your own
    radio(id='upload', type='radio', value='binary', ng-model='source') upload a file
    input(type='file', fileChange="", ng-show="source == 'binary'")