h2 Item Profile

p The profile contains information key data used to store and find an item (e.g., Common Core State Standard alignment, Bloom's Taxonomy assignment, key skills, and copyright information). Authors are encouraged to include as much information as possible.

p * Required

form

  .item-information
    fieldset
      .control-group
        label.control-label(for="title") * Title
          .controls
            textarea#title.form-control(
            ng-model='taskInfo.title',
            placeholder="Enter a title for this item...",
            rows='1')

      .control-group
        label.control-label(for="description") Description
          span.help-inline Enter a short description of this item. (e.g. Multiply single digit numbers, select evidence in reading passage)
          .controls
            textarea#description.form-control(
            ng-model='taskInfo.description',
            placeholder="Enter a description...",
            rows='3')

      .control-group
        .row
          .col-xs-6
            .form-group
              label.subject-label * Primary Subject
                input#primarySubject(
                  style="width:300px; margin-left: 5px;",
                  ng-model="taskInfo.subjects.primary",
                  type="text",
                  ui-select2="primarySubjectAsync",
                  data-placeholder="Choose a subject...")
          .col-xs-6
            .form-group
              label.subject-label Related Subject
                input#relatedSubject(
                  style="width:300px; margin-left: 5px;",
                  ng-model="taskInfo.subjects.related",
                  ui-select2="relatedSubjectAsync",
                  data-placeholder="Choose a subject...")

      .control-group.standards
        label.control-label * Standard(s)
          span.help-inline Select the Common Core State Standards or standards that are aligned with this item.
          .controls
            div(style='margin-bottom: 15px; margin-top: 10px; padding-left: 10px;')
              div(style='float: left; padding-right: 5px; width: 200px; padding-bottom: 10px;')
                label Subject
                select(ng-model='standardAdapter.subjectOption', ng-options='c.name for c in standardsOptions', style='vertical-align: top; width: 100%; padding-top: 0px;')
              div(style='float: left; padding-right: 5px; width: 380px; padding-bottom: 10px;')
                label Category
                select(ng-model='standardAdapter.categoryOption', ng-options='p.name for p in standardAdapter.subjectOption.items', style='width:100%')
              div(style='float: left; min-width: 300px; padding-bottom: 10px;')
                label Sub-Category
                select(ng-model='standardAdapter.subCategoryOption', ng-options='z for z in standardAdapter.categoryOption.items', style='width:100%')

              input(type='hidden', ui-select2='standardsAdapter', ng-model='profile.standards', style='width: 500px;')

      .control-group(ng-show="isLiteracyStandardSelected")
        label.control-label(for='lexile') Lexile Score
          input#lexile.input-mini(
          type='text',
          ng-model='profile.lexile',
          placeholder="Enter a score...",)
          span.lead(style='padding-left: 5px;') L

      .control-group
        label.control-label(for='gradeLevel') Grade Level
          span.help-inline  Select the grade or grade levels for which this item is appropriate
          .controls(style="width:80%")
            tight-button-bar#gradeLevel(ng-model="taskInfo.gradeLevel", button-provider="gradeLevelDataProvider", key="key")

  .other-alignments
    h3 Other Alignments

    fieldset
      table
        tr
          td(style='vertical-align: top')
            .control-group
              p.help-block Assign the Depth of Knowledge that best represents this item
              label.control-label Depth Of Knowledge
                select(ng-model='otherAlignments.depthOfKnowledge', ng-options='c.key as c.value for c in depthOfKnowledgeDataProvider')

          td(style='vertical-align: top; padding-left: 20px;')
            .control-group
              p.help-block Assign the Bloom's level that best represents this item
              label.control-label Bloom's Taxonomy
                select(ng-model='otherAlignments.bloomsTaxonomy', ng-options='c.key as c.value for c in bloomsTaxonomyDataProvider')

      .control-group
        p.help-block Identify the key skill or skills that the student will demonstrate when completing this item.
        label.control-label
          a(ng-click='expandKeySkills=!expandKeySkills')
            i(class="fa fa-{{!!expandKeySkills ? 'minus' : 'plus'}}-square-o", style="margin-right: 6px")
          | Key Skills

          .controls(style="margin-left: 17px;")
            div(ng-show='!expandKeySkills', style='padding-top: 4px;')
              label {{getKeySkillsSummary(otherAlignments.keySkills)}}
            div(ng-repeat='skills in keySkillsDataProvider', ng-show='expandKeySkills')
              div
                span.tag-list-header(style='float: left;') {{skills.header}}
                span(tag-list='tag-list', tags='skills.list', selected-tags='otherAlignments.keySkills')
              div(style='float: none; clear: both;')

      div(ng-show='componentTypes.length')
        label.control-label Question Types
          ul
            li(ng-repeat='type in componentTypes') {{type}}

  .licensing
    h3 Licensing

    table.permissions
      tr
        td.label-col
          | Make this available via a
        td
          table.license
            tr
              td
                select(ng-model='contributorDetails.licenseType', ng-options='c.key as c.value for c in licenseTypeDataProvider')
              td
                span(ng-show='!contributorDetails.licenseType', style='color: #888; font-style: italic;') Not Assigned
                img(ng-show='contributorDetails.licenseType', ng-src="{{getLicenseTypeUrl(contributorDetails.licenseType)}}")
              td
                a(href="http://creativecommons.org/licenses/", target="_blank") Learn more

  h3 Copyright Information

  table.copyright-information

    tr
      td.label-col
        label.control-label(for="author") * Author
      td
        input#author.form-control(
        ng-model='contributorDetails.author',
        placeholder="Enter author's name...")

    tr
      td.label-col
        label.control-label(for="credentials") Credentials
      td
        select(ng-model='contributorDetails.credentials', ng-options='c.key as c.value for c in credentialsDataProvider')
        input(ng-show="isCredentialsOtherSelected", type="text", placeholder='Enter credentials...', ng-model='contributorDetails.credentialsOther')

    tr
      td.label-col
        label.control-label(for="copyright-owner") * Copyright Owner
      td
        input#copyright-owner.form-control(
        ng-model='contributorDetails.copyrightOwner',
        placeholder="Enter the copyright owner...")

    tr
      td.label-col
        label.control-label(for="copyright-year") * Copyright Year
      td
        select#copyright-year(ng-model='contributorDetails.copyrightYear', ng-options='c for c in copyrightYearDataProvider', style="width:170px;")

    tr
      td.label-col
        label.control-label(for="") Copyright Expiration
      td
        select#copyright-expiration(ng-model='contributorDetails.copyrightExpirationDate', ng-options='c for c in copyrightExpirationYearDataProvider', style="width:170px;")

    tr
      td.label-col
        label(for="source-url").control-label Website
      td
        input#source-url.form-control(
        ng-model='contributorDetails.sourceUrl',
        placeholder="Enter the URL...")


  .additional-copyright-information
    h3 Additional Copyright Information

    additional-copyright-information(copyrights="contributorDetails.additionalCopyrights",
      prompt="Does this item contain any other copyrighted materials? E.g. book passage, image, etc.")

  .prior-use
    h4 Prior Use
    fieldset
      .control-group
        label.control-label(for='priorUse') This item was previously used in
          select#priorUse(name='profile.priorUse', ng-model='profile.priorUse', ng-options='c.key as c.value for c in priorUseDataProvider')
          input(ng-show="isPriorUseOtherSelected", type="text", placeholder='Enter prior use...', ng-model='profile.priorUseOther')

      .control-group
        label.control-label(for='priorGradeLevel') Grade Level
          span.help-inline  Identify the original grade level to which this item was aligned.
          .controls
            tight-button-bar#priorGradeLevel(ng-model="profile.priorGradeLevel", button-provider="gradeLevelDataProvider", key="key")

  .reviews-passed
    h4 Reviews Passed
    fieldset
      .control-group
        p This item passed the following reviews (check all that apply):
        .div(style="width:240px;")
          label(ng-repeat='rp in reviewsPassedDataProvider', style="width:50%;")
            input(type='checkbox',
            ng-model='rp.selected',
            ng-change="onChangeReviewsPassed(rp.key)",
            style="margin-right: 3px;")
            | {{rp.key}}
          input(ng-show="isReviewsPassedOtherSelected",style="margin-left:135px;", type="text", placeholder='Enter review...', ng-model='profile.reviewsPassedOther')

  a.btn.btn-default.btn-success.pull-right(ui-sref="design({section: 'main'})") Done