mixin form(cssClass)
  form(role='form', class=cssClass)
    block
  br/

mixin h_form
  +form('form-horizontal')
    block

mixin field(label, ngModel)
  .form-group
    label.col-sm-4.control-label(for=ngModel)= label
    .col-sm-8
      if block
        block
      else
        input.form-control(id=ngModel, ng-model=ngModel)

mixin field2(label, ngModel, formModel)
  .form-group(ng-show='#{formModel}.visible')
    label.col-sm-3.control-label(for=ngModel)= label
    .col-sm-9
      if block
        block
      else
        input.form-control(id=ngModel, ng-model=ngModel, ng-readonly='#{formModel}.readonly')

mixin select2(select2Model, msg, formModel)
  input(id=ngModel,
  ng-model=ngModel,
  type='text',
  ui-select2=select2Model,
  data-placeholder=msg,
  ng-readonly='#{formModel}.readonly')

mixin select2GradeLevel(dataProvider, msg, formModel)
  select(id=ngModel,
  ng-model=ngModel,
  ui-select2,
  multiple,
  data-placeholder=msg,
  ng-readonly='#{formModel}.readonly',
  style='width:100%;')
    option(ng-repeat="c in #{dataProvider}",value="{{c.key}}") {{c.key}}

mixin panelHeader(id, formModel)
  .panel.panel-default(ng-show="#{formModel}.visible")
    .panel-heading(role="tab",id="heading#{id}")
      .panel-title
        a(data-toggle="collapse",data-target="#collapse#{id}",aria-expanded="false",aria-controls="collapse#{id}")
          block

mixin panelBody(id)
  .panel-collapse.collapse(id="collapse#{id}",role="tabpanel",aria-labelledby="heading#{id}")
    block

mixin panel(id, title, formModel)
  +panelHeader(id,formModel)
    span= title
  +panelBody(id)
    block

script(type='text/ng-template', id='/templates/profile')
  .profile(ng-controller='ProfileController')
    .col-md-6
      .row.button-bar
        button.pull-right.btn.btn-default(
          ng-click="togglePreview()",
          ng-class="{'btn-warning': !previewOn}")
          | {{previewOn ? 'Close Preview' : 'Preview Profile Information'}} 
          i.fa(ng-class="{'fa-toggle-left': previewOn, 'fa-toggle-right' : !previewOn}")

      hr/

      .row
        h2 Item Profile
        p The profile contains information key data used to store and find an item (e.g., Common Core State Standard alignment, Bloom's Taxonomy assignment, key skills, and copyright information). Authors are encouraged to include as much information as possible.
        p * Required

        +h_form
          +field2('* Title', 'taskInfo.title', 'formModels.title')
          +field2('Description', 'taskInfo.description', 'formModels.description')

          +field2('* Primary Subject', 'taskInfo.subjects.primary', 'formModels.primarySubject')
            +select2('primarySubjectSelect2Adapter', 'Choose a subject...', 'formModels.primarySubject')

          +field2('Related Subject', 'taskInfo.subjects.related', 'formModels.relatedSubject')
            input(id='taskInfo.subjects.related',
            ng-model='taskInfo.subjects.related',
            type='hidden',
            multiple='multiple',
            ui-select2='relatedSubjectSelect2Adapter',
            data-placeholder='Choose a subject...',
            ng-readonly='formModels.relatedSubject.readonly',
            style='width:100%;')

          +field2('Grade Level', 'taskInfo.gradeLevel', 'formModels.gradeLevel')
            +select2GradeLevel('gradeLevelDataProvider | filter:gradeLevelFilter','Choose a grade level...','formModels.gradeLevel')

          .form-group(ng-show='formModels.componentTypes.visible && 0 < componentTypes.length')
            label.col-sm-3.control-label Item Types
            .col-sm-9
              ul
                li(ng-repeat='type in componentTypes') {{type}}

        +h_form(ng-show='formModels.standards.visible')
          div(ng-show='!formModels.standards.readonly')
            h6 Add the Standards
            .row
              .col-sm-6
                +field('Subject', 'standardFilterOption.subject')
                  select(id='standardFilterOption.subject',
                  class= 'form-control',
                  ng-model='standardFilterOption.subject',
                  ng-options='c.name for c in standardsTree')
                    option(value='') {{standardFilterPlaceholder.subject}}

                +field('Category','standardFilterOption.category')
                  select(id='standardFilterOption.category', 
                  class= 'form-control',
                  ng-model='standardFilterOption.category',
                  ng-options='p.name for p in standardFilterOption.subject.items')
                    option(value='') {{standardFilterPlaceholder.category}}

                +field('Sub-Category','standardFilterOption.subCategory')
                  select(id='standardFilterOption.subCategory', 
                  class= 'form-control',
                  ng-model='standardFilterOption.subCategory',
                  ng-options='z for z in standardFilterOption.category.items')
                    option(value='') {{standardFilterPlaceholder.subCategory}}
              .col-sm-6
                +field('Standards','profile.standards')
                  input(id='standards',
                  class='add-standards',
                  type='text',
                  ui-select2='standardsAdapter',
                  ng-model='profile.standards',
                  style='width: 100%;')
            hr/

          h6 Standards

          .form-group(ng-repeat='c in standardsGroups',class='standards')
            .col-sm-3
              image(ng-src='{{c.imageUrl}}', ng-if='c.hasImage')
              label(ng-if='!c.hasImage') {{ c.label }}
            .col-sm-9.no-input
              input(type='hidden', multiple, ui-select2='{tags:[],dropdownCss:{display:"none"}}',
              ng-model='c.standards', style='width: 100%;')

        +h_form
          h6 Other Alignments

          +panel("DepthOfKnowledge", "Depth Of Knowledge", "formModels.depthOfKnowledge")
            .panel-body.depth-of-knowledge
              label(ng-repeat='c in depthOfKnowledgeDataProvider | filter:depthOfKnowledgeFilter')
                input(type='radio',
                ng-model='otherAlignments.depthOfKnowledge',
                ng-disabled='formModels.depthOfKnowledge.readonly',
                value='{{c.key}}')
                | {{ c.value }}

          +panel("BloomsTaxonomy", "Bloom's Taxonomy", "formModels.bloomsTaxonomy")
            .panel-body.blooms-taxonomy
              label(ng-repeat='c in bloomsTaxonomyDataProvider | filter:bloomsTaxonomyFilter')
                input(type='radio',
                ng-model='otherAlignments.bloomsTaxonomy',
                ng-disabled='formModels.bloomsTaxonomy.readonly',
                value='{{c.key}}')
                | {{ c.value }}

          +panelHeader("KeySkills","formModels.keySkills")
            span(ng-bind-html-unsafe="keySkillsTitle")
          +panelBody("KeySkills")
            .panel-body
              +field("Skills", "keySkills")
                select(id='keySkills',
                ng-model='otherAlignments.keySkills',
                ui-select2,
                multiple,
                data-placeholder='Choose one or more key skills...',
                ng-readonly='formModels.keySkills.readonly',
                style='width:100%;')
                  option(ng-repeat="c in keySkillsDataProvider | filter:keySkillsFilter ",value="{{c.key}}") {{c.value}}

          +panel("LexileScore", "Lexile Score", "formModels.lexile")
            .panel-body.lexile
              +field('Lexile Score', 'lexile')
                input.form-control(id='profile.lexile', ng-model='profile.lexile',
                ng-readonly='formModels.lexile.readonly')
                span.measure L

        +h_form
          h6 History

          +panel("PriorUse", "Prior Use", "formModels.priorUsePanel")
            .panel-body
              +field2('This item was previously used in', 'profile.priorUse', 'formModels.priorUse')
                select(id='profile.priorUse',
                  class='form-control',
                  ng-model='profile.priorUse',
                  ng-options='c.key as c.value for c in priorUseDataProvider | filter:priorUseFilter',
                  ng-disabled='formModels.priorUse.readonly')
                  option(value='') Select ...
                input(ng-show='isPriorUseOtherSelected', type='text', placeholder='Enter prior use...',
                ng-model='profile.priorUseOther', ng-readonly='formModels.priorUse.readonly')

              +field2('Grade Level', 'profile.priorGradeLevel', 'formModels.priorGradeLevel')
                +select2GradeLevel('priorGradeLevelDataProvider | filter:priorGradeLevelFilter','Choose a grade level...','formModels.priorGradeLevel')

          +panel("ReviewsPassed", "Reviews Passed", "formModels.reviewsPassed")
            .panel-body
              +field('This item passed the following reviews', 'profile.reviewsPassed')
                label(ng-repeat='rp in reviewsPassedDataProvider | filter:reviewsPassedFilter', style='width:50%;')
                  input(type='checkbox',
                  ng-model='rp.selected',
                  ng-change='onChangeReviewsPassed(rp.key)',
                  style='margin-right: 3px;'
                  ng-disabled='formModels.reviewsPassed.readonly',)
                  | {{rp.key}}

                input.form-control(ng-show='isReviewsPassedOtherSelected', style='width:50%; margin-left:50%', type='text',
                placeholder='Enter review...', ng-model='profile.reviewsPassedOther',
                ng-readonly='formModels.reviewsPassed.readonly')

        +h_form
          h6 Ownership

          +panel("CopyrightInformation", "Copyright Information", "formModels.copyrightInformationPanel")
            .panel-body
              +field2('* Author', 'contributorDetails.author', 'formModels.author')

              +field2('Credentials','contributorDetails.credentials', 'formModels.credentials')
                select(id='contributorDetails.credentials',class='form-control',ng-model='contributorDetails.credentials',
                ng-options='c.key as c.value for c in credentialsDataProvider | filter:credentialsFilter',
                ng-disabled='formModels.credentials.readonly')
                  option(value='') Select ...

                input(id='contributorDetails.credentialsOther',ng-show='isCredentialsOtherSelected', type='text',
                placeholder='Enter credentials...', ng-model='contributorDetails.credentialsOther',
                ng-readonly='formModels.credentials.readonly')

              +field2('* Copyright Owner','contributorDetails.copyrightOwner', 'formModels.copyrightOwner')

              +field2('* Copyright Year','contributorDetails.copyrightYear', 'formModels.copyrightYear')
                select(id='contributorDetails.copyrightYear',class='form-control',ng-model='contributorDetails.copyrightYear',
                ng-options='c for c in copyrightYearDataProvider | filter:copyrightYearFilter', style='width:170px;',
                ng-disabled='formModels.copyrightYear.readonly')
                  option(value='') Select ...

              +field2('* Copyright Expiration','contributorDetails.copyrightExpirationDate', 'formModels.copyrightExpirationDate')
                select(id='contributorDetails.copyrightExpirationDate',class='form-control',ng-model='contributorDetails.copyrightExpirationDate',
                ng-options='c for c in copyrightExpirationDateDataProvider | filter:copyrightExpirationDateFilter',
                style='width:170px;', ng-disabled='formModels.copyrightExpirationDate.readonly')
                  option(value='') Select ...

              +field2('Website URL', 'contributorDetails.sourceUrl', 'formModels.sourceUrl')

          +panel("AdditionalMediaCopyright", "Additional Media Copyright", "formModels.additionalCopyrights")
            .panel-body
              additional-copyright-information-for-profile(copyrights='contributorDetails.additionalCopyrights',
              prompt='Does this item contain any other copyrighted materials? E.g. book passage, image, etc.')

          +panel("CreativeCommonsLicense", "Creative Commons License", "formModels.licenseType")
            .panel-body
              +field('Make this available via a','contributorDetails.licenseType')
                table.license
                  tr
                    td
                      select(id="license",ng-model="contributorDetails.licenseType",
                      class='form-control',
                      ng-disabled='formModels.licenseType.readonly'
                      ng-options="c.key as c.value for c in licenseTypeDataProvider")
                        option(value='') Select ...
                    td
                      span(ng-show="!contributorDetails.licenseType",style="color: #888; font-style: italic;")
                        | Not Assigned
                      img(ng-show="contributorDetails.licenseType",ng-src="{{getLicenseTypeUrl(contributorDetails.licenseType)}}")
                    td
                      a(href="http://creativecommons.org/licenses/",target="_blank") Learn More

    .col-md-6
      div(ng-if="previewOn", profile-preview="",ng-model="item")



