include ../mixins/modal

//Scoring popup..
script( type="text/ng-template", id="/templates/popups/scoring")
  +modal('Weighting', null, false)
    
    .alert.title
        | If an item contains more than one interaction, you may assign weights to each interaction or use the 'all or nothing' feature.

    .container-fluid
      radio(ng-model="itemConfig.scoringType", value="{{SCORING_TYPE.WEIGHTED}}") Distribute the weight across parts of the question
      component-weights(
        ng-show="itemConfig.scoringType == SCORING_TYPE.WEIGHTED",
        ng-disabled="{{componentSize != 'many'}}",
        ng-model="components",
        markup="xhtml",
        component-set="interactions")
      radio(ng-model="itemConfig.scoringType", value="{{SCORING_TYPE.ALL_OR_NOTHING}}") Apply the 'All Or Nothing' rule
      div(ng-show="itemConfig.scoringType == SCORING_TYPE.ALL_OR_NOTHING")
        | All parts of the question must be correct, in order to grant any credit

script(type="text/ng-template", id="/templates/question")
  .question(ng-controller="QuestionController")
    .col-md-6
      .row.button-bar
        button.pull-right.btn.btn-default(
          ng-click="togglePreview()",
          ng-class="{'btn-warning': !previewOn}")  
          | {{previewOn ? 'Close Preview' : 'Preview Question'}} 
          i.fa(ng-class="{'fa-toggle-left': previewOn, 'fa-toggle-right' : !previewOn}")
        button.pull-right.btn.btn-default(ng-click="showWeightingDialog()") Weighting

      hr/

      .row
        wiggi-wiz(
          formatting-display="dropdown",
          ng-model="item.xhtml",
          focus="true",
          features="extraFeatures",
          feature-overrides="overrideFeatures",
          image-service="imageService",
          dialog-launcher="external",
          on-editor-click="onEditorClick()")

          toolbar.main-editor-wiggi-toolbar(
            basic="bold italic underline superscript subscript", 
            formatting="blockquote h1 h2 h3",
            order="external,tools")

          edit-pane-toolbar(alignment="bottom")
            .btn-group.pull-right
              button.btn.btn-default(ng-click="closePane()") Done


      br/

      .row
        .panel.summary-feedback-panel
          .panel-heading
            h4.panel-title
              a(ng-click="showSummaryFeedback = !showSummaryFeedback")
                | Add Feedback (optional)
          .panel-body(collapse="!showSummaryFeedback")
            div(mini-wiggi-wiz="", 
              ng-model='item.summaryFeedback', 
              placeholder='Type here',
              feature-overrides="overrideFeatures",
              image-service="imageService",
              dialog-launcher="external",
              features="extraFeaturesForFeedback")

    .col-md-6

      .preview(ng-class="{visible: previewOn}",
          ng-controller="ClientSidePreview")
        .item-preview-wrapper
          .player-label
            img(ng-src='{{playerLabelImg}}')
          .player-container
            preview-player(
              data-jade-template='templates/question',
              player-markup="item.xhtml",
              player-item="item",
              player-components="item.components",
              player-outcomes="outcome")

            summary-feedback(ng-model='item.summaryFeedback', session-complete='session.isComplete')
          .row
            preview-player-control-panel(
              data-mode='playerMode', 
              data-settings='playerSettings', 
              data-score="score")

    .clearfix
