//Add new popup
script( type="text/ng-template", id="/templates/popups/addSupportingMaterial")
  +modal('Add Supporting Material', 'Submit')
    .alert.title
        | When composing an assessment item, it can be useful to include supplemental materials to assist in scoring or classroom discussion.

    .add-supporting-material-popup
      div(
        supportingmetadata, 
        focus-title="true", 
        ng-model='supportingMaterial',
        is-valid='metadataIsValid',
        existing-names='materialNames')

// Upload progress popup
script( type="text/ng-template", id="/templates/popups/uploadingSupportingMaterial")
  +modal('Uploading Supporting Material', 'Ok', false)
    div(style="text-align: center") Uploading...
    progressbar(max="100",value="progress")
      span(style="color:black; white-space:nowrap;") {{progress}}%

script(type="text/ng-template", id="/templates/supporting-materials")
  .supporting-materials(ng-controller="SupportingMaterials")
    .col-md-4.row
      .add-new-block
        button.btn.btn-default(ng-click="addNew()")
          i.fa.fa-plus
          | &nbsp;add new supporting material

      .supporting-materials-list(
        sm-list, 
        group-by="materialType",
        delete-item="deleteItem",
        choose-item="choose",
        ng-model="item.supportingMaterials")
    .col-md-6
      .supporting-material(ng-show="selectedMaterial")
        div(supportingmetadata="", 
          existing-names="materialNames",
          ng-model="selectedMetadata", 
          source-is-editable="false")
        .editor-container(ng-class="editorMode", ng-show="isHtml")
          wiggi-wiz(
            formatting-display="dropdown",
            ng-model="mainFile.content",
            image-service="imageService",
            overrideFeatures="overrideFeatures",
            features="extraFeatures",
            dialog-launcher="external")
            toolbar(basic="bold italic underline", media="", formatting="blockquote h1 h2 h3")
            edit-pane-toolbar(alignment="bottom")
              .btn-group
                button(ng-click="closePane()", class="btn btn-sm btn-success", style="float:right;") OK

        .file-upload-info(ng-show="isBinary")
          dl.dl-horizontal
            dt File Size
            dd(id="fileSizeInfo") {{formatKB(supportingMaterialFileSize)}}
            //dt(ng-show='hasDate(supportingMaterial)') Date
            //dd(ng-show='hasDate(supportingMaterial)') {{formatDate(supportingMaterial.dateModified)}}
            div.preview-file
              iframe(frameborder="0", ng-src="{{binaryPreviewUrl}}", width="100%", height="100%")


