//Add new popup
script( type="text/ng-template", id="/templates/popups/addSupportingMaterial")
  +modal('Add Supporting Material', 'Submit')
    .alert.title
        | When composing an assessment item, it can be useful to include supplemental materials to assist in scoring or classroom discussion.

    .add-supporting-material-popup
      div(
        supportingmetadata, 
        ng-model='supportingMaterial',
        is-valid='metadataIsValid',
        existing-names='materialNames')
//Remove popup
script( type="text/ng-template", id="/templates/popups/removeSupportingMaterial")
  +modal('Remove Supporting Material', 'Submit')
    .alert.title
        | You are about to delete <b>{{name}}</b>. Are you sure you want to do this?

// Upload progress popup
script( type="text/ng-template", id="/templates/popups/uploadingSupportingMaterial")
  +modal('Uploading Supporting Material', 'Ok', false)
    div(style="text-align: center") Uploading...
    progressbar(max="100",value="progress")
      span(style="color:black; white-space:nowrap;") {{progress}}%

script(type="text/ng-template", id="/templates/supporting-materials")
  .supporting-materials(ng-controller="SupportingMaterials")
    .col-md-4.row
      .add-new-block
        button.btn.btn-default(ng-click="addNew()")
          i.fa.fa-plus
          | &nbsp;add new supporting material

      .supporting-materials-list(
        sm-list, 
        group-by="materialType",
        delete-item="deleteMaterial",
        choose-item="chooseMaterial",
        selected-item="selectedMaterial",
        ng-model="item.supportingMaterials")
    .col-md-7
      .help-text(ng-hide="selectedMaterial")
        | &nbsp;Use this area to add supporting materials (e.g. scoring guides, examples and/or rubrics) that may assist
        | </br> an educator to administer or review this item.

      .supporting-material(ng-show="selectedMaterial")
        div(supporting-material-info, ng-model="selectedMaterial") 

        .editor-container(ng-class="editorMode", ng-show="isHtml")
          wiggi-wiz(
            formatting-display="dropdown",
            ng-model="mainFile.content",
            image-service="imageService",
            overrideFeatures="overrideFeatures",
            features="extraFeatures",
            dialog-launcher="external")
            toolbar(basic="bold italic underline", media="image", formatting="blockquote h1 h2 h3")
            edit-pane-toolbar(alignment="bottom")
              .btn-group
                button(ng-click="closePane()", class="btn btn-sm btn-success", style="float:right;") OK

        .file-upload-info(ng-show="isBinary")
          dl.dl-horizontal
            div.preview-file
              iframe(frameborder="0", ng-src="{{binaryPreviewUrl}}", width="100%", height="100%")


