script(type='text/ng-template', id="/templates/item")
  .player-container

    corespring-player(
      player-mode="editor",
      player-markup="data.item.xhtml",
      player-item="data.item",
      player-session="rootModel.session",
      player-outcomes="outcome")

    summary-feedback(
      template="designer.jade",
      item="data.item",
      session="session")