extends player-base

block player-content
  div#root.container(ng-controller="Root", dimension-propagator="")

    div(ng-controller="Main")

      player-control-panel(playerSettings="evaluateOptions")

      div(corespring-player,
        player-mode="player",
        player-markup="item.xhtml",
        player-item="item",
        player-session="session",
        player-outcomes="outcome")

      summary-feedback(template="player.jade",item="item",session="session")

      .container-player(ng-controller="ContainerPlayerControls")
        br/
        button.btn.btn-primary(ng-click="submit()",ng-disabled="!canSubmit()") Submit
        button.btn.btn-warning(ng-click="reset()") Reset
        hr/
        .score(ng-show="score")
          | You scored {{score.summary.percentage}}%

