extends app-loader-layout

block content
  .root(ng-controller="Root")

    .nav-container
      .top-nav-filler

      ul.nav.nav-stacked
        li
          a.mainitem-link(ui-sref="design({section: 'main'})") Design
        li.nav-subitem(ui-sref-active="active")
          a.subitem-link(ui-sref="design({section: 'main'})") Item
        li.nav-subitem(ui-sref-active="active")
          a.subitem-link(ui-sref="design({section: 'weighting'})" ) Weighting
        li.nav-subitem(ui-sref-active="active")
          a.subitem-link(ui-sref="design({section: 'summary-feedback'})" ) Summary Feedback
        li.nav-subitem(ui-sref-active="active")
          a.subitem-link(ui-sref="item-profile" ) Profile
        li.nav-subitem(ui-sref-active="active")
          a.subitem-link(ui-sref="supporting-materials({intro: 'intro'})") Supporting Materials
        li.nav-subitem(ng-repeat="supportingMaterial in data.item.supportingMaterials", ng-class="{ active: isSupportingMaterialActive(supportingMaterial, $index)}")
          a.subitem-link.supporting-material-link(ui-sref="supporting-material({index: $index})") {{supportingMaterial.name}}
          a.delete-supporting-material(ng-click="deleteSupportingMaterial($index)")
        li
          a.mainitem-link(ui-sref="overview") View
        li.nav-subitem(ui-sref-active="active")
          a.subitem-link(ui-sref="overview") Catalog View

    .preview-container
      .contents(ui-view="preview")

    .content-container(
      ng-class="{preview: showPreview(urlParams.hidePreview), 'left-nav': !urlParams.hideLeftNav}")
      .top-nav
        button.toggle-left-nav.btn.btn-sm.btn-default(ng-click="toggleLeftNav()")
          i.fa.fa-bars
        .cs-logo

        span.saver
          model-saver(
            ng-model="data.item",
            save-trigger="save()", 
            saving="data.saveInProgress", 
            save-error="data.saveError")
            #saved
              | All changes saved
            #save-in-progress
              | Saving...
            #save-error
              | There was an error saving your content

      .main-content(ui-view="main")

      button.btn.btn-xs.btn-info.preview-hang-right-btn(ng-click="togglePreview()", ng-show="showPreviewButton", ng-class="{'preview-active': showPreview(urlParams.hidePreview)}")
        {{ previewText() }}

  include partials/designer
  include partials/item-profile
  include partials/supporting-materials
  include partials/supporting-material
  include partials/overview
  include partials/overview-supporting-material
  include partials/previews/designer
  include partials/previews/item-profile
  include partials/previews/supporting-material

block app-loader-config
  script.

    function mkEditorState(path, id){
      return {
        url: path,
        views: {
          main: {
            template: $('#' + id).html()
          },
          preview: {
            template: $('#' + id + '-preview').html()
          }
        }
      }
    }

    var appLoadConfig = {
      moduleName: 'corespring-editor',
      jsonFile: 'editor-config.json',
      dependencies: [
            'corespring-common.services',
            'corespring-common.directives',
            'corespring-common.supporting-materials',
            'corespring-player.services',
            'corespring-player.directives',
            'corespring-player.controllers',
            'corespring-editor.services',
            'corespring-editor.controllers',
            'corespring-editor.directives',
            'ui.sortable',
            'ui.bootstrap',
            'ui.ace',
            'ui.router',
            'cs.directives',
            'ngRoute',
            'ui.select2',
            'corespring.wiggi-wiz'
          ],
      defaultPath: '/design/main',
      states: {
        design : mkEditorState('/design/:section', 'designer'),
        'item-profile' : mkEditorState('/item-profile', 'item-profile'),
        'supporting-materials' : mkEditorState('/supporting-materials/:intro', 'supporting-materials'),
        'supporting-material' : mkEditorState('/supporting-material/:index','supporting-material'),
        overview: mkEditorState('/overview', 'overview')
      }
    };

block app-loader-scripts

  script(type="text/javascript",src="../../components/wiggi-wiz/dist/wiggi-wiz.js")
  
  for p in editor
    script(src="#{p}", type="text/javascript")

  for p in editorExtras
    script(src="#{p}", type="text/javascript")
