extends layout

block head
  link(rel="stylesheet", href="css/editor.css")

  script(type="text/ng-template", id="myModalContent.html")

    .modal-content
      .modal-header
        h5
          | Choose a component
      .modal-body
        table
          tr(ng-repeat="row in componentSetGrid")
            td(ng-click="selectComponent(comp)", ng-repeat="comp in row")
              img.component-icon(ng-src="{{comp.icon}}")
              br/
              a {{comp.name}}
        .modal-footer
          button.btn.btn-warning(ng-click="cancel()") Cancel

block content
  .root(ng-controller="Root")


    div
      .nav.navbar.navbar-static-top(role="navigation")
        .navbar-header
          .navbar-brand
        span.btn.btn-primary.btn-xs(ng-click="save()") Save
        span.btn.btn-info.btn-xs(file-uploader, fu-url="getUploadUrl()", fu-mode="raw") Upload image
        span.btn.btn-success.btn-xs(ng-click="openChooser()") Add Component

    .flex-box

      .vertical.flex-1
        structure-view.structure-view(
          ng-model="model",
          selected-component="selectedComponent",
          component-set="componentSet")
        file-list(ng-model="model.files", select-file="selectFile(file)")

      config-pane.flex-3.config#config(ng-model="selectedComponent", ng-show="selectedComponent != null")
      //TODO: in ng-show below 'selectedFile' is bound to the file-preview selectedFile - not the outer one
      //Should be bound to the outer property.
      div.selected-text-editor(ui-ace, ng-model="selectedFile.content", ui-ace="{useWrapMode: true}", ng-show="selectedFile.content != null")

      div.flex-2(ng-controller="ClientSidePreview")

        player-control-panel(player-settings="session.settings")
        corespring-player(
          player-xhtml="model.xhtml",
          player-model="model.components",
          player-session="session",
          player-responses="responses")
        button.btn.btn-primary(ng-click="submit()", ng-disabled="session.isFinished") Submit
        label
          | Attempts left: {{session.remainingAttempts !== undefined ? session.remainingAttempts : session.maxNoOfAttempts}}
        hr
        #outcome(ng-show="outcome")
          h4 You scored: {{outcome.summary.percentage}}%

block scripts

  //build:js js/editor.js
  script(src="js/corespring/outcome-processor.js")

  script(src="js/editor/controllers/_declaration.js")
  script(src="js/editor/controllers/root.js")
  script(src="js/editor/controllers/client-side-preview.js")

  script(src="js/editor/services/_declaration.js")
  script(src="js/editor/services/client-side-player-services.js")

  script(src="js/editor/directives/_declaration.js")
  script(src="js/editor/directives/structure-view.js")
  script(src="js/editor/directives/file-list.js")
  script(src="js/editor/directives/file-preview.js")
  script(src="js/editor/directives/config-pane.js")
  script(src="js/editor/directives/control-panel.js")


  script(src="js/render/services/_declaration.js")
  script(src="js/render/services/component-register.js")

  script(src="js/render/directives/_declaration.js")
  script(src="js/render/directives/corespring-player.js")
  //endbuild

  //build:js js/extras.js
  script(src="bower_components/angular-ui/build/angular-ui.js")
  script(src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js")
  script(src="bower_components/angular-dragdrop/src/angular-dragdrop.js")
  script(src="bower_components/ckeditor/ckeditor.js")
  script(src="bower_components/bootstrap/js/dropdown.js")
  script(src="bower_components/bootstrap/js/modal.js")
  script(src="bower_components/angular-ui-ace/ui-ace.js")
  script(src="bower_components/ace-builds/src-min-noconflict/ace.js")
  script(src="bower_components/ace-builds/src-min-noconflict/theme-twilight.js")
  script(src="bower_components/ace-builds/src-min-noconflict/mode-xml.js")
  script(src="bower_components/ace-builds/src-min-noconflict/worker-json.js")
  script(src="bower_components/ace-builds/src-min-noconflict/mode-json.js")
  //endbuild

  script.

    $(document).ready(function () {
      var configPath = 'editor-config.json';

      $.get(configPath, function (data) {

        var allScriptsAreLoaded = function () {
          var playerDeps = [
            'corespring-common.directives',
            'corespring-editor.services',
            'corespring-editor.controllers',
            'corespring-editor.directives',
            'corespring-player.services',
            'corespring-player.directives',
            'ui.sortable',
            'ui.bootstrap',
            'ui.ace',
            'cs.directives'
          ].concat(data.angular.dependencies);

          angular.module("corespring-editor", playerDeps);
          angular.bootstrap(document, ["corespring-editor"]);
          angular.resumeBootstrap();

          $("body").addClass('blend')
        };

        var args = data.scripts.concat(data.css);
        console.log(args);
        head.js.apply(null, args);

        head.ready(function(){
          allScriptsAreLoaded();
        });
      });
    });

