extends layout

block head

  link(rel="stylesheet", href="/client/css/editor.css")
  link(rel="stylesheet", type="text/css", href="/client/components/markitup/markitup/skins/markitup/style.css")
  link(rel="stylesheet", type="text/css", href="/client/components/markitup/markitup/sets/default/style.css")

  script(type="text/ng-template", id="add-component.html")
    .modal
      .modal-dialog
        .modal-content
          .modal-header
            h5
              | Choose Question Types 
          .modal-body
            table
              tr(ng-repeat="row in componentSetGrid")
                td(ng-repeat="comp in row")
                  div(ng-click="$parent.addComponentMap[comp.name].include = !$parent.addComponentMap[comp.name].include")
                    img.component-icon(ng-src="{{comp.icon}}")
                    br/
                    a {{comp.name}}
                  label Add
                  input(type='checkbox',ng-model='$parent.addComponentMap[comp.name].include')
                  span(ng-show='$parent.addComponentMap[comp.name].include')
                    label Quantity
                    input(type='text',style='width: 30px',ng-disabled='!$parent.addComponentMap[comp.name].include',ng-model='$parent.addComponentMap[comp.name].amount')

            .modal-footer
              button.btn.btn-primary(ng-click="ok()") Ok
              button.btn.btn-warning(ng-click="cancel()") Cancel

block content
  .root(ng-controller="Root")


    div
      .nav.navbar-static-top(role="navigation")
        .navbar-header
          a.navbar-brand(href="/")

        .main-btn.active Item Design
        //TODO: will need to add this back
        //span.btn.btn-info.btn-xs(file-uploader, fu-url="getUploadUrl()", fu-mode="raw") Upload image
        span.header
          .title
            | Item preview
          .down-arrow

    .main-content
      .item-list(is-new-item="{{isNewItem()}}")
        .main-header 
          span.header-label My Items
          span.left-arrow
        
        .item-body(ng-switch="isNewItem()")
          .header
            .title
              | Item Details
              span.dotted-arrow

            div
              .info 
                div(ng-switch-when="true")
                  | Content you have added will be listed here. 
                  br/
                  br/
                  | Click on a question type or content section to edit and design it.
                div(ng-switch-when="false")
                  | Click a Question Type below to begin editing it.
                  br/
                  br/
                  | You can drag question types below into any order.
                br/
                .cs-btn(ng-click="openChooser()") Add content

          structure-view.structure-view(
            ng-model="model",
            selected-component="selectedComponent",
            get-icon-url="getIconUrl(type)"
            component-set="componentSet")

        .button-holder
          button.btn.btn-primary(ng-click="save()") Save 

      //file-list(ng-model="model.files", select-file="selectFile(file)")

      config-pane.config#config(ng-model="selectedComponent", ng-show="selectedComponent != null")

      .welcome(ng-show="isNewItem()")
        .header
          | Welcome
        .cs-btn(ng-click="openChooser()") Add content

      //TODO: in ng-show below 'selectedFile' is bound to the file-preview selectedFile - not the outer one
      //Should be bound to the outer property.
      div.selected-text-editor(ui-ace, ng-model="selectedFile.content", ui-ace="{useWrapMode: true}", ng-show="selectedFile.content != null")

      div.client-side-preview(ng-controller="ClientSidePreview",ng-show="hasComponents()")
        
        player-control-panel(player-settings="session.settings")

        corespring-player(
          player-mode="editor",
          player-markup="model.xhtml",
          player-item="model",
          player-session="rootModel.session",
          player-responses="responses")

        .button-holder
          button.btn.btn-primary(ng-click="submit()", ng-disabled="!canSubmit()") Submit
          button.btn.btn-warning(ng-click="resetPreview()") Reset
          label
            | Attempts left: {{session.remainingAttempts !== undefined ? session.remainingAttempts : session.maxNoOfAttempts}}
        hr
        #outcome(ng-show="outcome")
          h4 You scored: {{outcome.summary.percentage}}%

block scripts

  for p in editor 
    script(src="#{p}", type="text/javascript")

  for p in editorExtras
    script(src="#{p}", type="text/javascript")

  script.

    $(document).ready(function () {
      var configPath = 'editor-config.json';

      $.get(configPath, function (data) {

        var allScriptsAreLoaded = function () {
          var playerDeps = [
            'corespring-common.services',
            'corespring-common.directives',
            'corespring-editor.services',
            'corespring-editor.controllers',
            'corespring-editor.directives',
            'corespring-player.services',
            'corespring-player.directives',
            'ui.sortable',
            'ui.bootstrap',
            'ui.ace',
            'cs.directives'
          ].concat(data.angular.dependencies);

          angular.module("corespring-editor", playerDeps);
          angular.bootstrap(document, ["corespring-editor"]);

          //Note - doing this to see if it'll help with ckeditor
          //Which seems to be doing its own script loading
          setTimeout(function(){
            angular.resumeBootstrap();
            $("body").addClass('blend')
          }, 1000);
        };

        var args = data.scripts.concat(data.css);
        console.log(args);
        head.js.apply(null, args);

        head.ready(function(){
          allScriptsAreLoaded();
        });
      });
    });

