extends layout

block head
  link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.min.css")
  link(rel="stylesheet", href="css/editor.css")


block content
  .root(ng-controller="Root")
    div
      .nav.navbar.navbar-inverse.navbar-static-top(role="navigation")
        .navbar-header
          .navbar-brand Editor
        span.btn.btn-primary(ng-click="save()") Save
        span.btn.btn-primary(file-uploader, fu-url="getUploadUrl()", fu-mode="raw") Upload image

    .flex-box
      .vertical
        structure-view.structure-view(
          ng-model="model",
          selected-component="selectedComponent",
          component-set="componentSet")
        file-list(ng-model="model.files", select-file="selectFile(file)")
      config-pane.config#config(ng-model="selectedComponent", ng-show="selectedComponent != null")
      //TODO: in ng-show below 'selectedFile' is bound to the file-preview selectedFile - not the outer one
      //Should be bound to the outer property.
      div.selected-text-editor(ui-ace, ng-model="selectedFile.content", ui-ace="{useWrapMode: true}", ng-show="selectedFile.content != null")

      div(ng-controller="ClientSidePreview")

        player-control-panel(player-settings="session.settings")
        corespring-player(
          player-xhtml="model.xhtml",
          player-model="model.components",
          player-session="session",
          player-responses="responses")
        button.btn.btn-primary(ng-click="submit()", ng-disabled="session.isFinished") Submit
        label
          | Attempts left: {{session.remainingAttempts !== undefined ? session.remainingAttempts : session.maxNoOfAttempts}}
        hr
        #outcome(ng-show="outcome")
          h4 You scored: {{outcome.summary.percentage}}%

block scripts

  //build:js js/editor.js
  script(src="js/editor/controllers/_declaration.js")
  script(src="js/editor/controllers/root.js")
  script(src="js/editor/controllers/client-side-preview.js")

  script(src="js/editor/services/_declaration.js")
  script(src="js/editor/services/client-side-player-services.js")

  script(src="js/editor/directives/_declaration.js")
  script(src="js/editor/directives/structure-view.js")
  script(src="js/editor/directives/file-list.js")
  script(src="js/editor/directives/file-preview.js")
  script(src="js/editor/directives/config-pane.js")
  script(src="js/editor/directives/inline-preview.js")
  script(src="js/editor/directives/control-panel.js")


  script(src="js/render/services/_declaration.js")
  script(src="js/render/services/component-register.js")

  script(src="js/render/directives/_declaration.js")
  script(src="js/render/directives/corespring-player.js")
  //endbuild

  //build:js js/extras.js
  script(src="bower_components/angular-ui/build/angular-ui.js")
  script(src="bower_components/angular-dragdrop/src/angular-dragdrop.js")
  script(src="bower_components/ckeditor/ckeditor.js")
  script(src="bower_components/bootstrap/js/dropdown.js")
  script(src="bower_components/angular-ui-ace/ui-ace.js")
  script(src="bower_components/ace-builds/src-min-noconflict/ace.js")
  script(src="bower_components/ace-builds/src-min-noconflict/theme-twilight.js")
  script(src="bower_components/ace-builds/src-min-noconflict/mode-xml.js")
  script(src="bower_components/ace-builds/src-min-noconflict/worker-json.js")
  script(src="bower_components/ace-builds/src-min-noconflict/mode-json.js")
  //endbuild

  script.

    $(document).ready(function () {
      var configPath = 'editor-config.json';

      $.get(configPath, function (data) {

        var allScriptsAreLoaded = function () {
          var playerDeps = [
            'corespring-common.directives',
            'corespring-editor.services',
            'corespring-editor.controllers',
            'corespring-editor.directives',
            'corespring-player.services',
            'corespring-player.directives',
            'ui.sortable',
            'cs.directives',
            'ui.ace'
          ].concat(data.angular.dependencies);

          angular.module("corespring-editor", playerDeps);
          angular.bootstrap(document, ["corespring-editor"]);
          angular.resumeBootstrap();
          $("body").addClass('blend')
        };

        var args = data.scripts.concat(data.css);
        console.log(args);
        head.js.apply(null, args);

        head.ready(function(){
          allScriptsAreLoaded();
        });
      });
    });

