extends layout

block head

  link(rel="stylesheet", href="../../components/select2/select2.css")
  link(rel="stylesheet", href="../../css/editor.css")

block content
  .root(ng-controller="Root")

    .nav-container
      .top-nav-filler

      ul.nav.nav-stacked

        li(ng-class="{ active: isActive('design') }")
          a(ui-sref="design") Design

        li(ng-class="{ active: isActive('item-profile') }")
          a(ui-sref="item-profile") Item Profile

        li.nav-subheader(ng-class="{ active: isActive('supporting-materials') }")
          a(ui-sref="supporting-materials", ng-class="{empty: !hasSupportingMaterials()}") Supporting Materials
          a.collapsable(ng-show="hasSupportingMaterials()", ng-class="{expanded: showSupportingMaterials}",
            ng-click="toggleSupportingMaterials()")
          ul.nav.nav-subitems(ng-show="showSupportingMaterials")
            li.nav-subitem(ng-repeat="supportingMaterial in data.item.supportingMaterials", ng-class="{ active: isSupportingMaterialActive(supportingMaterial, $index)}")
              a(ui-sref="supporting-material({index: $index})") {{supportingMaterial.name}}

        li(ng-class="{ active: isActive('overview') }")
          a(ui-sref="overview") Catalog View

    .preview-container
      .contents(ui-view="preview")

    .content-container(
      ng-class="{preview: showPreview(urlParams.hidePreview), 'left-nav': !urlParams.hideLeftNav}")
      .top-nav
        button.toggle-left-nav.btn.btn-sm.btn-default(ng-click="toggleLeftNav()")
          i.fa.fa-bars
        .cs-logo

        span.saver
          model-saver(
            ng-model="data.item",
            save-trigger="save()", 
            saving="data.saveInProgress", 
            save-error="data.saveError")
            #saved
              | All changes saved
            #save-in-progress
              | Saving...
            #save-error
              | There was an error saving your content

      .main-content(ui-view="main")

      button.btn.btn-xs.btn-info.preview-hang-right-btn(ng-click="togglePreview()", ng-show="showPreviewButton", ng-class="{'preview-active': showPreview(urlParams.hidePreview)}") Preview

  include partials/designer
  include partials/item-profile
  include partials/supporting-materials
  include partials/supporting-material
  include partials/overview
  include partials/overview-profile
  include partials/overview-supporting-material

  include partials/previews/designer
  include partials/previews/item-profile
  include partials/previews/supporting-material

block scripts

  script(type="text/javascript",src="../../components/wiggi-wiz/dist/wiggi-wiz.js")
  script(type="text/javascript",src="../../components/mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML")
  for p in editor
    script(src="#{p}", type="text/javascript")

  for p in editorExtras
    script(src="#{p}", type="text/javascript")


  script.

    $(document).ready(function () {
      var configPath = 'editor-config.json';

      $.get(configPath, function (data) {

        var allScriptsAreLoaded = function () {
          var playerDeps = [
            'corespring-common.services',
            'corespring-common.directives',
            'corespring-editor.services',
            'corespring-editor.controllers',
            'corespring-editor.directives',
            'corespring-player.services',
            'corespring-player.directives',
            'corespring-catalog.directives',
            'ui.sortable',
            'ui.bootstrap',
            'ui.ace',
            'ui.router',
            'cs.directives',
            'ngRoute',
            'ui.select2',
            'corespring.wiggi-wiz'
          ].concat(data.angular.dependencies);

          angular.module("corespring-editor", playerDeps).config(function($provide, $stateProvider, $urlRouterProvider) {
            
            //Disable logging.. 
            /*$provide.decorator('$log', function($delegate, $sniffer) {
                var _log = $delegate.log; //Saving the original behavior

                $delegate.log = function(message) { };
                $delegate.debug = function(message) { };
                $delegate.error = function(message) {
                }

                return $delegate;
            });*/

            $urlRouterProvider.otherwise("/design");
            $stateProvider
              .state('design', {
                url: "/design",
                views: {
                  main: {
                    template: $('#designer').html()
                  },
                  preview: {
                    template: $('#designer-preview').html()
                  }
                }
              })
              .state('item-profile', {
                url: '/item-profile',
                views: {
                  main: {
                    template: $('#item-profile').html()
                  },
                  preview: {
                    template: $('#item-profile-preview').html()
                  }
                }
              })
              .state('supporting-materials', {
                url: '/supporting-materials',
                views: {
                  main: {
                    template: $('#supporting-materials').html()
                  },
                  preview: {
                    template: $('#supporting-materials-preview').html()
                  }
                }
              })
              .state('supporting-material', {
                url: '/supporting-material/:index',
                views: {
                  main: {
                    template: $('#supporting-material').html()
                  },
                  preview: {
                    template: $('#supporting-material-preview').html()
                  }
                }
              })
              .state('overview', {
                url: '/overview',
                views: {
                  main: {
                    template: $('#overview').html()
                  }
                }
              })
          });

          angular.bootstrap(document, ["corespring-editor"]);
          angular.resumeBootstrap();
          $("body").addClass('blend');
        };

        var args = data.scripts.concat(data.css);
        console.log(args);
        head.js.apply(null, args);

        head.ready(function(){
          allScriptsAreLoaded();
        });

      });
    });
