extends app-loader-layout

block content
  .root(ng-controller="Root")

    .nav-container
      nav.navbar.navbar-default.navbar-fixed-top
        ul.nav.navbar-nav
          li(ui-sref-active="active")
            a(ui-sref="design({section: 'main'})") Edit
          li(ui-sref-active="active")
            a(ui-sref="design({section: 'weighting'})" ) Weighting
          li(ui-sref-active="active")
            a(ui-sref="design({section: 'summary-feedback'})" ) Summary Feedback
          li(ui-sref-active="active")
            a(ui-sref="item-profile" ) Profile
          li(ui-sref-active="active")
            a(ui-sref="supporting-materials({intro: 'intro'})") Supporting Materials

        .saver
          model-saver(
          ng-model="data.item",
          save-trigger="save()",
          saving="data.saveInProgress",
          save-error="data.saveError")
            #saved
              | All changes saved
            #save-in-progress
              | Saving...
            #save-error
              | There was an error saving your content

    .preview-container
      .contents(ui-view="preview")

    .content-container(ng-class="{preview: showPreview(urlParams.hidePreview)}")

      .main-content(ui-view="main")

      button.btn.btn-xs.preview-hang-right-btn(ng-click="togglePreview()",
        ng-show="showPreviewButton", ng-class="{'preview-active': showPreview(urlParams.hidePreview)}")
        i.fa.fa-bars

  include partials/designer
  include partials/item-profile
  include partials/supporting-materials
  include partials/supporting-material
  include partials/overview
  include partials/overview-supporting-material
  include partials/previews/designer
  include partials/previews/item-profile
  include partials/previews/supporting-material

block app-loader-config
  script.

    function mkEditorState(path, id){
      return {
        url: path,
        views: {
          main: {
            template: $('#' + id).html()
          },
          preview: {
            template: $('#' + id + '-preview').html()
          }
        }
      }
    }

    var appLoadConfig = {
      moduleName: 'corespring-editor',
      jsonFile: 'editor-config.json',
      dependencies: [
            'corespring-common.services',
            'corespring-common.directives',
            'corespring-common.supporting-materials',
            'corespring-player.services',
            'corespring-player.directives',
            'corespring-player.controllers',
            'corespring-editor.services',
            'corespring-editor.controllers',
            'corespring-editor.directives',
            'ui.sortable',
            'ui.bootstrap',
            'ui.ace',
            'ui.router',
            'cs.directives',
            'ngRoute',
            'ui.select2',
            'corespring.wiggi-wiz'
          ],
      defaultPath: '/design/main',
      states: {
        design : mkEditorState('/design/:section', 'designer'),
        'item-profile' : mkEditorState('/item-profile', 'item-profile'),
        'supporting-materials' : mkEditorState('/supporting-materials/:intro', 'supporting-materials'),
        'supporting-material' : mkEditorState('/supporting-material/:index','supporting-material'),
        overview: mkEditorState('/overview', 'overview')
      }
    };

block app-loader-scripts

  script(type="text/javascript",src="../../components/wiggi-wiz/dist/wiggi-wiz.js")

  for p in editor
    script(src="#{p}", type="text/javascript")

  for p in editorExtras
    script(src="#{p}", type="text/javascript")
