extends layout

block head

  link(rel="stylesheet", href="../../components/select2/select2.css")

  link(rel="stylesheet", href="../../css/new-editor.css")

  script(type="text/ng-template", id="add-component.html")
    .modal
      .modal-dialog
        .modal-content
          .modal-header
            h5
              | Choose Question Types
          .modal-body
            table
              tr(ng-repeat="row in componentSetGrid")
                td(ng-repeat="comp in row")
                  div(ng-click="$parent.addComponentMap[comp.name].include = !$parent.addComponentMap[comp.name].include")
                    img.component-icon(ng-src="{{comp.icon}}")
                    br/
                    a {{comp.name}}
                  label Add
                  input(type='checkbox',ng-model='$parent.addComponentMap[comp.name].include')
                  span(ng-show='$parent.addComponentMap[comp.name].include')
                    label Quantity
                    input(type='text',style='width: 30px',ng-disabled='!$parent.addComponentMap[comp.name].include',ng-model='$parent.addComponentMap[comp.name].amount')

            .modal-footer
              button.btn.btn-primary(ng-click="ok()") Ok
              button.btn.btn-warning(ng-click="cancel()") Cancel

block content
  .root(ng-controller="Root")
    .main-nav
      a.navbar-brand(href="/")
        
      tabset
        tab(
          ng-repeat="tab in tabs", 
          select="choose(tab)", 
          heading="{{tab.title}}", 
          active="tab.active", 
          disabled="tab.disabled")

    .main-content(ng-view)


block scripts

  script(type="text/javascript",src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML")

  for p in editor
    script(src="#{p}", type="text/javascript")

  for p in editorExtras
    script(src="#{p}", type="text/javascript")


  script.

    $(document).ready(function () {
      var configPath = 'editor-config.json';

      $.get(configPath, function (data) {

        var allScriptsAreLoaded = function () {
          var playerDeps = [
            'corespring-common.services',
            'corespring-common.directives',
            'corespring-editor.services',
            'corespring-editor.controllers',
            'corespring-editor.directives',
            'corespring-player.services',
            'corespring-player.directives',
            'ui.sortable',
            'ui.bootstrap',
            'ui.ace',
            'cs.directives',
            'ngRoute',
            'ui.select2'
          ].concat(data.angular.dependencies);

          angular.module("corespring-editor", playerDeps)
            .config(corespring.require("corespring-editor-config"));
          angular.bootstrap(document, ["corespring-editor"]);

          //Note - doing this to see if it'll help with ckeditor
          //Which seems to be doing its own script loading
          setTimeout(function(){
            angular.resumeBootstrap();
            $("body").addClass('blend')
          }, 1000);
        };

        var args = data.scripts.concat(data.css);
        console.log(args);
        head.js.apply(null, args);

        head.ready(function(){
          allScriptsAreLoaded();
        });

      });
    });

