extends layout

block head
  link(href='//fonts.googleapis.com/css?family=Ubuntu:300,400,500,500italic,700', rel='stylesheet', type='text/css')
  link(rel="stylesheet", href="../../css/player.css")

block content

  //[if IE]><div style='clear: both; height: 112px; padding:0; position: relative;'><a href="http://www.theie9countdown.com/ie-users-info"><img src="http://www.theie9countdown.com/assets/badge_iecountdown.png" border="0" height="112" width="348" alt="" /></a></div><![endif]
  div#root.container(ng-controller="Root", dimension-propagator="")
    div(ng-controller="Main")

      div(corespring-player,
        player-mode="player",
        player-markup="item.xhtml",
        player-item="item",
        player-session="session",
        player-outcomes="outcome")

      block player-child 

block scripts

  //[if lte IE 8]> <script src="../../js/common/ie-support/Function.bind.js"></script> <![endif]
  //[if lte IE 8]> <script src="../../js/common/ie-support/Array.map.js"></script> <![endif]
  script.
    var bootstrapResumeTimeout = 0;
  //[if lte IE 9]> <script>bootstrapResumeTimeout = 500;</script> <![endif]
  //[if lte IE 9]> <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]
  //[if lte IE 9]> <script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.2.6/json3.min.js"></script> <![endif]

  for p in player 
    script(src="#{p}", type="text/javascript")

  script(src="../../components/angular-ui/build/angular-ui.js")


  block extra-scripts


  script.
    $(document).ready(function(){
      console.log("load config", document.location);

      var configPath = 'new-player-config.json';

      $.get( configPath, function(data){
        console.log("data", data);

        var allScriptsAreLoaded = function(){

          console.log("all scripts are loaded");
          $("#player-body").html(data.xhtml);

          var playerDeps = [
            'corespring-common.services',
            'corespring-common.directives',
            'corespring-player.controllers',
            'corespring-player.directives',
            'corespring-player.services'
          ].concat(data.angular.dependencies);

          angular.module("corespring-player", playerDeps );
          angular.bootstrap(document, ["corespring-player"]);

          setTimeout(function(){
            angular.resumeBootstrap();
            $("body").addClass('blend');
          }, bootstrapResumeTimeout);
        };

        var allScripts = data.scripts.concat(data.css);
        console.log(allScripts);
        head.js.apply(null, allScripts);

        head.ready(function(){
          console.log("!!! head.js.ready !!!");
          allScriptsAreLoaded();
        });
      });
    });


