extends player-base

block player-content

  div(ng-controller="Main")

    div(corespring-player,
      player-mode="player",
      player-markup="item.xhtml",
      player-item="item",
      player-session="session",
      player-outcomes="outcome")

    div(summary-feedback,template="player.jade",item="item",session="session")

