extends layout

block head
  link(rel="stylesheet", href="css/player.css")

block content
  div#root.container(ng-controller="Root")
    div(ng-controller="Main")

      div(corespring-player,
        player-mode="player",
        player-markup="item.xhtml",
        player-item="item",
        player-session="session",
        player-outcomes="outcome")

      button.btn.btn-primary(
        ng-click="submit()",
        ng-disabled="!canSubmit()") Submit

      hr
      #score(ng-show="score")
        h4 You scored: {{score.summary.percentage}}%

block scripts

  for p in player 
    script(src="#{p}", type="text/javascript")

  script(src="/client/components/angular-ui/build/angular-ui.js")

  script.
    var bootstrapResumeTimeout = 0;
  //[if lt IE 9]> <script>console.log("ie8 delay!!!"); bootstrapResumeTimeout = 4000;</script> <![endif]
  //[if lt IE 9]> <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]
  //[if lt IE 9]> <script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.2.6/json3.min.js"></script> <![endif]

  script.
    $(document).ready(function(){
      console.log("load config", document.location);

      var configPath = 'player-config.json';

      $.get( configPath, function(data){
        console.log("data", data);

        var allScriptsAreLoaded = function(){

          console.log("all scripts are loaded");
          $("#player-body").html(data.xhtml);

          var playerDeps = [
            'corespring-common.services',
            'corespring-common.directives',
            'corespring-player.controllers',
            'corespring-player.directives',
            'corespring-player.services'
          ].concat(data.angular.dependencies);

          angular.module("corespring-player", playerDeps );
          angular.bootstrap(document, ["corespring-player"]);

          setTimeout(function(){
            angular.resumeBootstrap();
            $("body").addClass('blend');
          }, bootstrapResumeTimeout);
        };

        var allScripts = data.scripts.concat(data.css);
        console.log(allScripts);
        head.js.apply(null, allScripts);

        head.ready(function(){
            allScriptsAreLoaded();
        });
      });
    });


