!!! 5
html(xmlns='http://www.w3.org/1999/html')
  head
    for c in css
      link(rel='stylesheet', href='#{c}')

  body(ng-app='corespring-player-app')
    .pre-loader
      #spinner

      #root.container(ng-controller='Root', dimension-propagator='')

        if showControls 
          div(ng-controller="ContainerPlayerController")
            div(ng-controller="Main")
              div(player-control-panel,data-mode='playerMode', data-settings='playerSettings', data-score="score", show-preview-button="{{showPreviewButton}}")
              
              div(
                corespring-player='corespring-player', 
                  player-mode='player',
                  player-markup='item.xhtml',
                  player-item='item',
                  player-session='session',
                  player-outcomes='outcome')
                  != xhtml
                summary-feedback(item="item",session="session")
        else 
          div(ng-controller='Main')
            div(
              corespring-player='corespring-player', 
                player-mode='player',
                player-markup='item.xhtml',
                player-item='item',
                player-session='session',
                player-outcomes='outcome')
                != xhtml
              summary-feedback(item="item",session="session")

    //[if lte IE 8]> <script src="../../js/common/ie-support/Function.bind.js"></script> <![endif]
    //[if lte IE 8]> <script src="../../js/common/ie-support/Array.map.js"></script> <![endif]
    //[if lte IE 9]> <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]
    //[if lte IE 9]> <script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.2.6/json3.min.js"></script> <![endif]

    for j in js
      script(type='text/javascript', src='#{j}')
    
    script(type='text/javascript')
      var deps = [
      'corespring-common.services',
      'corespring-common.directives',
      'corespring-player.controllers',
      'corespring-player.directives',
      'corespring-player.services'
      ];
      var dynDeps = #{ngModules};
      angular.module("corespring-player-app", deps.concat(dynDeps) ).config(['$provide', function($provide) {

        var enabledInQueryString = (document.location.search.indexOf('disableLogging=false') !== -1) 
        var loggingEnabled = enabledInQueryString || false;
        if(!loggingEnabled){
          function mockLogger($delegate) {

            var out = {
              log: function(){},
              debug: function(){},
              error: function(){},
              warn: function(){},
              info: function(){}
            }
            out.error = $delegate.error;
            out.warn = $delegate.warn;
            return out;
          }

          $provide.decorator('LogFactory', function($delegate){
            return {
              getLogger: function(n){
                return mockLogger($delegate.getLogger(n));
              }
            }
          });

          $provide.decorator('$log', function($delegate, $sniffer) {
            return mockLogger($delegate);
          });
        }

        $provide.decorator('PlayerService', function($delegate, $sniffer) {
            function Wrapper(){
              var inst = new $delegate();
              for(var x in inst){
                if(typeof(inst[x]) === 'function'){
                  this[x] = inst[x];
                }
              }
              this.loadItemAndSession = function(onSuccess, onFailure, id) {
                var sessionJson = !{sessionJson};
                onSuccess(sessionJson);
              };
          }
          return Wrapper;
        });
      }]);

      $(".main").addClass('blend');


    script.
      window.playerVersionInfo = !{versionInfo};
