mixin field(label, ngModel)
  .form-group
    label.col-sm-3.control-label(for=ngModel)= label
    .col-sm-9
      if block
        block
      else
        input.form-control(id=ngModel, ng-model=ngModel)

.additional-copyright-information-for-profile
  p {{prompt}}
  .control-group(style="padding-left: 5px;")
    .controls
      label
        input(type="radio",ng-model="required",value="yes",style="margin-right: 5px;")
        | Yes
      label
        input(type="radio",ng-model="required",value="no",style="margin-right: 5px; margin-left: 20px;")
        | No

    br/

  .item(ng-repeat="item in copyrights")
    p Please complete the following
    +field('Author','item.author')
    +field('Copyright Owner','item.owner')
    +field('Copyright Year','item.year')
      select(id="item.year",ng-model="item.year",ng-options="c for c in copyrightYearDataProvider",
            style="width: 170px;")
    +field('License','item.licenseType')
      table.license
        tr
          td
            select(id="ac-license",ng-model="item.licenseType",
            ng-options="c.key as c.value for c in licenseTypeDataProvider")
          td
            span(ng-show="!item.licenseType",style="color: #888; font-style: italic;")
              | Not Assigned
            img(ng-show="item.licenseType",ng-src="{{getLicenseTypeUrl(item.licenseType)}}")
          td
            a(href="http://creativecommons.org/licenses/",target="_blank") Learn More
    +field('Media Type','item.mediaType')
      select(id="item.mediaType",ng-model="item.mediaType",ng-options="c.key as c.value for c in mediaTypeDataProvider")
    +field('Website','item.sourceUrl')

    .form-group
      .col-sm-3
      .col-sm-9.text-right
        a(ng-click="removeCopyrightItem(item)", style="padding-right: 10px;") Remove additional copyright

  a.add-additional(ng-click="addCopyrightItem()", ng-show="required")
    i.fa.fa-plus-square-o(style="margin-left: 6px; margin-right: 6px;")
    span Add more
