ul.catalog-tabbed-content-container
  //Preview
  li.catalog-tabbed-content.preview(ng-class='{ active: isActive(\'preview\') }')
    div(ng-controller='ClientSidePreview')
      player-control-panel(player-settings='session.settings')
      corespring-player(player-mode='editor', player-markup='item.xhtml', player-item='item', player-session='session', player-outcomes='outcome')
      .button-holder
        button.btn.btn-primary(ng-click='submit()', ng-disabled='!canSubmit()') Submit
        button.btn.btn-warning(ng-click='resetPreview()') Reset
        hr
        #score
          h4 You scored: {{score.summary.percentage}}%
  // Profile
  li.catalog-tabbed-content.profile(ng-class='{ active: isActive(\'profile\') }')
    .row
      .attribute.standards
        span.label {{i18n.standards.label}}
        ul.standards-list
          li(ng-repeat='standard in profile.standards')
            span.standard {{standard.dotNotation}}
          li(ng-show='!profile.standards || profile.standards.length == 0')
            span.standard {{unassigned}}
      .attribute.question-types
        span.label {{i18n.questionTypes.label}}
        ul
          li(ng-repeat='type in componentTypes') {{type}}
    .row(ng-show='profile.lexile')
      .attribute.lexile-score
        span.label {{i18n.lexileScore.label}}
        span.lexile-score {{profile.lexile &amp;&amp; profile.lexile + "L" || unassigned}}
    .row
      .attribute.title {{taskInfo.title || unassigned}}
    .row
      .attribute.subjects
        ul
          li.subject.primary {{taskInfo.subjects.primary.subject || unassigned}}
          li.related.label(ng-show='taskInfo.subjects.related') {{i18n.relatedSubject.label}}
          li.subject.related(ng-show='taskInfo.subjects.related') {{taskInfo.subjects.related.subject || unassigned}}
      .attribute.blooms-taxonomy
        span.label {{i18n.bloomsTaxonomy.label}}
        span.value {{otherAlignments.bloomsTaxonomy || unassigned}}
      .attribute.depth-of-knowledge
        span.label {{i18n.depthOfKnowledge.label}}
        span.value {{depthOfKnowledge || unassigned}}
      .attribute.key-skills
        div {{otherAlignments.keySkills.join(", ") || unassigned}}
        .label {{i18n.keySkills.label}}
    h3.additional-information-header
      a(ng-click='expandAdditionalInformation=!expandAdditionalInformation', ng-show='!printMode')
        i.fa
        | {{i18n.additionalInformation}}
    .additional-information(ng-show='expandAdditionalInformation')
      .row
        .attribute.prior-use
          .label {{i18n.priorUse.label}}
          .prior-use {{priorUse || unassigned}}
        .attribute.reviews-passed
          .label {{i18n.reviewsPassed.label}}
          ul.reviews-passed-list
            li(ng-repeat='review in reviewsPassedDataProvider')
              input(type='checkbox', ng-checked='ng-checked')
              | = 0" disabled /
              label {{review.value}}
          .other-reviews-passed(ng-show='ng-show')
            | = 0"
            span {{taskInfo.otherReviewsPassed}}
        .attribute.attribution
          .license
            span.label {{i18n.license.label}}
            div(ng-if='licenseTypeUrl != undefined')
              img(ng-src='{{licenseTypeUrl}}')
            .unassigned(ng-show='!licenseTypeUrl') {{unassigned}}
          .copyright-year
            span.label {{i18n.copyrightYear.label}}
            span.year {{contributorDetails.copyright.year || unassigned}}
    .row
      .attribute.item-id
        span.label {{i18n.itemId.label}}:
        span.value {{itemId}}

  li.catalog-tabbed-content.supporting-material(
    ng-class='{ active: isActive(\'supporting-material\', $index) }', 
    ng-repeat='supportingMaterial in item.supportingMaterials')
    div(
      style='height: 100%;', ng-if='isMarkup($index)', 
      ng-bind-html-unsafe='getMarkup($index)')
    div(
      style='height: 100%;', ng-if='!isMarkup($index)')
      iframe(ng-src='{{supportingUrl($index)}}', 
        width='100%', 
        height='100%')