script(type='text/ng-template', id="/templates/item")
  .client-side-preview(ng-controller="ClientSidePreview")
    player-control-panel(
      data-mode='playerMode',
      data-settings='playerSettings',
      data-score="score",
      data-show-preview-button="false")

    .player-container

      corespring-player(
        player-mode="editor",
        player-markup="data.item.xhtml",
        player-item="data.item",
        player-session="rootModel.session",
        player-outcomes="outcome")

      summary-feedback(
        template="designer.jade",
        item="data.item",
        session="session")