mixin tr_header(a, b, c)
  tr
    th.panel-left= a
    th= b
    th.panel-right= c       

script(type='text/ng-template', id="/templates/profile")
  .profile-body
    h2 Profile
    .round-border-container
      div.description {{item.profile.taskInfo.description}}
      table
        tr
          td
            .label.label-info Primary Subject
            span {{item.profile.taskInfo.subjects.primary.subject}}
          td
            .label.label-info Grade Level(s)
            span {{item.profile.taskInfo.gradeLevel.join(", ")}}
        tr
          td
            .label.label-info Related Subject
            span {{item.profile.taskInfo.subjects.related.subject}}
          td
            .label.label-info Difficulty Level
            span {{getPValueAsString(item.profile.pValue)}}
        tr
          td
            .label.label-info Item Type
            span {{componentTypeLabels.join(", ")}}
          td
            .label.label-info CCSS
            span(ng-repeat="standard in item.profile.standards") {{standard.dotNotation}}{{$last ? '' : ', '}}
        tr
          td
          td
            .label.label-info License
            img.license-type(ng-src="{{licenseTypeUrl}}")

    table
      tr
        td
          .label.label-warning Bloom's Taxonomy
          .content {{item.profile.taskInfo.subjects.primary.subject}}
          .label.label-warning Demonstrated Knowledge
          .content {{item.profile.demonstratedKnowledge || unassigned}}
          .label.label-warning Lexile Score
          .content {{item.profile.lexile || unassigned }}
        td
          .label.label-warning Key Skills
          .content {{item.profile.otherAlignments.keySkills.join(", ")}}
          .content
            img.copyright-image(ng-src="{{copyrightOwnerUrl}}",
             alt="{{item.profile.contributorDetails.copyright.owner}}",
             title="{{item.profile.contributorDetails.copyright.owner}}"
             )
            | This item was made available to CoreSpring users courtesy of {{item.profile.contributorDetails.copyright.owner}}
            .clearfix &nbsp;
            .more-info
              a(ng-click="showMore = !showMore").pull-right {{showMore ? 'hide info' : 'more info'}}
            table(ng-show="showMore")
              tr
                td
                  .title Copyright Year
                  .sub-content {{item.profile.contributorDetails.copyright.year || unassigned}}
                  .title Copyright Expiration Date
                  .sub-content {{item.profile.contributorDetails.copyrightExpirationDate}}
                  .title Reviews Passed
                  .sub-content
                    span(ng-repeat="rp in allReviewsPassed", ng-if="rp.passed") {{rp.name}}{{!$last ? ', ' : ''}}
                td
                  .title Credentials
                  .sub-content {{item.profile.contributorDetails.credentials || unassigned}}
                  .title Prior Use
                  .sub-content {{item.profile.priorUse || unassigned}}
                  .title Source
                  .sub-content
                    a(href="{{item.profile.sourceUrl}}"){{item.profile.sourceUrl || unassigned}}

