mixin tr_header(a, b, c)
  tr
    th.panel-left= a
    th= b
    th.panel-right= c       

script(type='text/ng-template', id="/templates/profile")
  .profile-body
    h2(ng-bind-html="htmlOrNull(item.profile.taskInfo.title)")
    .round-border-container.clearfix
      .description(ng-if="isNonEmptyString(item.profile.taskInfo.description)") {{item.profile.taskInfo.description}}

      .field
        .info
          .label.label-info Primary Subject
        .content
          span {{textOrNA(item.profile.taskInfo.subjects.primary.subject)}}

      .field
        .info
          .label.label-info Grade Level(s)
        .content
          span {{arrayTextOrNA(item.profile.taskInfo.gradeLevel)}}

      .field(ng-show="item.profile.taskInfo.subjects.related.subject")
        .info
          .label.label-info Related Subject
        .content
          span {{item.profile.taskInfo.subjects.related.subject}}

      .field(ng-show="isNonEmptyString(getPValueAsString(item.profile.pValue))")
        .info
          .label.label-info Difficulty Level
        .content
          span {{getPValueAsString(item.profile.pValue)}}

      .field
        .info
          .label.label-info Item Type
        .content
         span {{arrayTextOrNA(componentTypeLabels)}}

      .field(ng-show="item.profile.standards.length > 0")
        .info
          .label.label-info CCSS
        .content
          span(ng-repeat="standard in item.profile.standards") {{standard.dotNotation}}{{$last ? '' : ', '}}

      .field(ng-show="licenseTypeUrl")
        .info
          .label.label-info License
        .content
          img.license-type(ng-src="{{licenseTypeUrl}}")


    .borderless-container.clearfix
      .field(ng-show="isNonEmptyString(item.profile.otherAlignments.bloomsTaxonomy)")
        .info
          .label.label-warning Bloom's Taxonomy
        .content {{item.profile.otherAlignments.bloomsTaxonomy}}

      .field(ng-show="item.profile.demonstratedKnowledge")
        .info
          .label.label-warning Demonstrated Knowledge
        .content {{item.profile.demonstratedKnowledge}}

      .field(ng-show="depthOfKnowledgeLabel")
        .info
          .label.label-warning Depth of knowledge
        .content {{depthOfKnowledgeLabel}}

      .field(ng-show="item.profile.lexile")
        .info
          .label.label-warning Lexile Score
        .content(ng-show="item.profile.lexile") {{item.profile.lexile }}L

      .field(ng-show="isNonEmptyStringArray(item.profile.otherAlignments.keySkills)")
        .info
          .label.label-warning Key Skills
        .content {{item.profile.otherAlignments.keySkills.join(", ")}}

      .field
        img.copyright-image(ng-src="{{copyrightOwnerUrl}}",
         alt="{{item.profile.contributorDetails.copyrightOwner}}",
         title="{{item.profile.contributorDetails.copyrightOwner}}"
         )
        .courtesy(ng-show="item.profile.contributorDetails.copyrightOwner")
          | This item was made available to CoreSpring users courtesy of {{item.profile.contributorDetails.copyrightOwner}}

      .field
        .more-info-container.clearfix
          a.show-more.clearfix(ng-click="showMore = !showMore", ng-show="isThereMoreData(item.profile)") {{showMore ? 'hide info' : 'more info'}}
          .fields(ng-show="showMore")
            .field(ng-show="item.profile.contributorDetails.copyrightYear")
              .title Copyright Year
              .sub-content {{item.profile.contributorDetails.copyrightYear}}

            .field(ng-show="item.profile.contributorDetails.copyrightExpirationDate")
              .title Copyright Expiration Date
              .sub-content {{item.profile.contributorDetails.copyrightExpirationDate}}

            .field(ng-show="isNonEmptyStringArray(item.profile.reviewsPassed)")
              .title Reviews Passed
              .sub-content {{item.profile.reviewsPassed.join(", ")}}

            .field(ng-show="item.profile.contributorDetails.credentials")
              .title Credentials
              .sub-content {{item.profile.contributorDetails.credentials}}

            .field(ng-show="item.profile.priorUse")
              .title Prior Use
              .sub-content {{item.profile.priorUse}}

            .field(ng-show="isNonEmptyStringArray(item.profile.priorGradeLevel)")
              .title Prior Use grade Level
              .sub-content {{item.profile.priorGradeLevel.join(", ")}}

            .field(ng-show="item.collection.name")
              .title Collection
              .sub-content {{item.collection.name}}

            .field(ng-show="getUrl(item.profile.contributorDetails.sourceUrl)")
              .title Source
              .sub-content
                a(href="{{getUrl(item.profile.contributorDetails.sourceUrl)}}", target="_blank")
                  .source-url-text{{getUrl(item.profile.contributorDetails.sourceUrl)}}
    .footer
      .item-id Item ID: {{item.itemId}}