mixin tr_header(a, b, c)
  tr
    th.panel-left= a
    th= b
    th.panel-right= c       

script(type='text/ng-template', id="/templates/profile")
  .profile-body 

    .main-title
      table
        tr
          td
            span.bold 
              | {{item.profile.taskInfo.subjects.primary.subject || unassigned}}
            span.info
              | (also useful in {{item.profile.taskInfo.subjects.related.subject || unassigned}})
          td
            span.copyright-owner
              img(ng-src="{{copyrightOwnerUrl}}",
               alt="{{item.profile.contributorDetails.copyright.owner}}",
               title="{{item.profile.contributorDetails.copyright.owner}}"
               )

    .round-panel.padded
      | {{item.profile.taskInfo.title || unassigned}}

    .round-panel
      table 
        tr
          th.panel-left Standard
          th(ng-show="item.profile.lexile") Lexile Score
          th.panel-right Question

        tr 
          td.panel-left
            .pill-content 
              .pill(ng-repeat="standard in item.profile.standards", 
                tooltip="{{standard.standard}}",
                tooltip-append-to-body="true") 
                | {{standard.dotNotation}}
          td(ng-show="item.profile.lexile")
            .pill-content 
              .pill
                | {{item.profile.lexile || unassigned }} 
          td.panel-right 
            .pill-content
              .pill(ng-repeat="t in componentTypeLabels") 
                | {{t}}

    .round-panel
      table 
        +tr_header('Bloom\'s Level', 'Depth of Knowledge', 'Key Skills')
        tr 
          td.panel-left
            .pill-content
              .pill
                | {{item.profile.otherAlignments.bloomsTaxonomy || unassigned}} 
          td 
            .pill-content
              .pill 
                | {{depthOfKnowledgeLabel || unassigned}}
          td.panel-right
            .pill-content 
              .pill(ng-repeat="skills in item.profile.otherAlignments.keySkills")
                | {{skills}}

    .round-panel
      .header.left(
        ng-click="showAdditionalInformation = !showAdditionalInformation",
        ng-class="{ true: 'open', false: 'closed'}[showAdditionalInformation === true]"
        )
        i.fa(ng-class="{ true: 'fa-minus-circle', false: 'fa-plus-circle'}[showAdditionalInformation === true]")
        | Additional Information


      .cols(ng-show="showAdditionalInformation")
        table 
          tr 
            td 
              .title Prior Use 
              | {{item.profile.priorUse || unassigned}}

            td
              .title Reviews Passed

              div(ng-repeat="rp in allReviewsPassed") 
                i.fa(ng-class="{true: 'fa-check-square-o', false: 'fa-square-o'}[rp.passed]") 
                | {{rp.name}}
            td
              .title License
              img.license-type(ng-src="{{licenseTypeUrl}}") 

              .title Copyright Year
              | {{item.profile.contributorDetails.copyright.year || unassigned}}
      .cols
        .footer
          span.bold ID: 
          | {{itemId}} 
