script#designer-preview(type='text/ng-template')
  client-side-preview(ng-controller="ClientSidePreview", ng-class="{previewHidden: isPreviewHidden()}")

    player-control-panel(player-settings="session.settings")

    corespring-preview-player(
      player-mode="editor",
      player-markup="data.item.xhtml",
      player-item="data.item",
      player-session="rootModel.session",
      player-outcomes="outcome")

    .button-holder
      button.btn.btn-primary(ng-click="submit()", ng-disabled="!canSubmit()") Submit
    hr/

    .summary-feedback(ng-show="session.isComplete")
      | {{data.item.summaryFeedback}}