mixin h_form
  form.form-horizontal(role='form')
    block

mixin form
  form(role='form')
    block

mixin field(label, ngModel)
  .form-group
    label.col-sm-3.control-label(for=ngModel)= label 
    .col-sm-9
      if block 
        block
      else 
        input.form-control(id=ngModel, ng-model=ngModel)

mixin select2(select2Model, msg)
  input(id=ngModel,
    ng-model=ngModel,
    type="text",
    ui-select2=select2Model,
    data-placeholder=msg)

script(type="text/ng-template", id="/templates/profile")
  .profile(ng-controller="ProfileController")
    .row.col-md-8
      h2 Item Profile
      p The profile contains information key data used to store and find an item (e.g., Common Core State Standard alignment, Bloom's Taxonomy assignment, key skills, and copyright information). Authors are encouraged to include as much information as possible.
      p * Required

      +h_form
        +field("* Title", "taskInfo.title")
        +field("Description", "taskInfo.description")
        hr/ 
        
        +field("* Primary Subject", "taskInfo.subjects.primary")
          +select2("primarySubjectAsync", "Choose a subject...")
        
        +field("* Related Subject", "taskInfo.subjects.related")
          +select2("relatedSubjectAsync", "Choose a subject...")

        +field("Grade Level", "taskInfo.gradeLevel")
          tight-button-bar(
            id="taskInfo.gradeLevel", 
            ng-model="taskInfo.gradeLevel", 
            button-provider="gradeLevelDataProvider", 
            key="key")

        div(ng-show='componentTypes.length')
          +field("Question Types", "$qt")
            ul
              li(ng-repeat='type in componentTypes') {{type}}

      br/

      +form
        h6 Add the Standards
        .form-group
          label.col-sm-3.control-label(for="standardAdapter.subjectOption") Subject 
          select(ng-model='standardAdapter.subjectOption', ng-options='c.name for c in standardsOptions')
        .form-group
          label.col-sm-3.control-label(for="standardAdapter.subjectOption") Category 
          select(ng-model='standardAdapter.categoryOption', ng-options='p.name for p in standardAdapter.subjectOption.items')
        .form-group
          label.col-sm-3.control-label(for="standardAdapter.subjectOption") Sub-Category 
          select(ng-model='standardAdapter.subCategoryOption', ng-options='z for z in standardAdapter.categoryOption.items')
        .form-group
          input(type='hidden', ui-select2='standardsAdapter', ng-model='profile.standards', style='width: 500px;')

      br/

      +h_form
        h6 Other Alignments
        expander(ng-model="taskInfo.depthOfKnowledge", title="Depth of Knowledge")
        expander(ng-model="taskInfo.bloomsTaxonomy", title="Bloom's Taxonomy") 
        expander(ng-model="taskInfo.keySkills", title="keySkills") 

      br/

      +h_form
        h6 History 
        expander(ng-model="taskInfo.priorUse", title="Prior Use") 
        expander(ng-model="taskInfo.reviewsPassed", title="Reviews Passed") 
        expander(ng-model="taskInfo.collections", title="Collections") 

      br/

      +h_form
        h6 Ownership 
        expander(ng-model="taskInfo.copyrightInformation", title="Copyright Information") 
        expander(ng-model="taskInfo.additionalMediaCopyright", title="Additional Media Copyright") 
        expander(ng-model="taskInfo.creativecommons", title="Creative Commons License") 


