mixin h_form
  form.form-horizontal(role='form')
    block

mixin form
  form(role='form')
    block

mixin field(label, ngModel)
  .form-group
    label.col-sm-3.control-label(for=ngModel)= label 
    .col-sm-9
      if block 
        block
      else 
        input.form-control(id=ngModel, ng-model=ngModel)

mixin select2(select2Model, msg)
  input(id=ngModel,
    ng-model=ngModel,
    type="text",
    ui-select2=select2Model,
    data-placeholder=msg)

script(type="text/ng-template", id="/templates/profile")
  .profile(ng-controller="ProfileController")
    .row.col-md-8
      h2 Item Profile
      p The profile contains information key data used to store and find an item (e.g., Common Core State Standard alignment, Bloom's Taxonomy assignment, key skills, and copyright information). Authors are encouraged to include as much information as possible.
      p * Required

      +h_form
        +field("* Title", "taskInfo.title")
        +field("Description", "taskInfo.description")
        hr/ 
        
        +field("* Primary Subject", "taskInfo.subjects.primary")
          +select2("primarySubjectSelect2Adapter", "Choose a subject...")
        
        +field("* Related Subject", "taskInfo.subjects.related")
          +select2("relatedSubjectSelect2Adapter", "Choose a subject...")

        +field("Grade Level", "taskInfo.gradeLevel")
          tight-button-bar(
            id="taskInfo.gradeLevel", 
            ng-model="taskInfo.gradeLevel", 
            button-provider="gradeLevelDataProvider", 
            key="key")

        div(ng-show='componentTypes.length')
          +field("Question Types", "$qt")
            ul
              li(ng-repeat='type in componentTypes') {{type}}

      br/

      +h_form
        h6 Add the Standards
        +field('Subject', 'standardAdapter.subjectOption')
          select(id='standardAdapter.subjectOption', ng-model='standardAdapter.subjectOption', ng-options='c.name for c in standardsOptions')
        +field('Category','standardAdapter.categoryOption')
          select(id='standardAdapter.categoryOption', ng-model='standardAdapter.categoryOption', ng-options='p.name for p in standardAdapter.subjectOption.items')
        +field('Sub-Category','standardAdapter.subCategoryOption')
          select(id='subCategoryOption',ng-model='standardAdapter.subCategoryOption', ng-options='z for z in standardAdapter.categoryOption.items')
        +field('Standards','profile.standards')
          input(id='profile.standards', type='hidden', ui-select2='standardsAdapter', ng-model='profile.standards', style='width: 500px;')

        .lexile(ng-show="isLiteracyStandardSelected")
          +field('Lexile Score', 'profile.lexile')
            input.form-control(id='profile.lexile', ng-model='profile.lexile')
            span.measure L
      br/

      +h_form
        h6 Other Alignments
        +field('Depth Of Knowledge','otherAlignments.depthOfKnowledge')
          select(id='otherAlignments.depthOfKnowledge', ng-model='otherAlignments.depthOfKnowledge', ng-options='c.key as c.value for c in depthOfKnowledgeDataProvider')
        +field('Bloom\'s Taxonomy','otherAlignments.bloomsTaxonomy')
          select(id='otherAlignments.bloomsTaxonomy', ng-model='otherAlignments.bloomsTaxonomy', ng-options='c.key as c.value for c in bloomsTaxonomyDataProvider')
        .form-group
          label.col-sm-3.control-label(ng-click='expandKeySkills=!expandKeySkills')
            i(class="fa fa-{{!!expandKeySkills ? 'minus' : 'plus'}}-square-o", style="margin-right: 6px")
            | Key Skills
          .col-sm-9
            div(ng-show='!expandKeySkills')
              label {{getKeySkillsSummary(otherAlignments.keySkills)}}
            div(ng-show='expandKeySkills', ng-repeat='skills in keySkillsDataProvider')
              div
                span.tag-list-header(style='float: left;') {{skills.header}}
                span(tag-list='tag-list', tags='skills.list', selected-tags='otherAlignments.keySkills')
              div(style='float: none; clear: both;')

      br/

      +h_form
        h6 History

        +field('This item was previously used in', 'profile.priorUse')
          select(id='profile.priorUse', ng-model='profile.priorUse', ng-options='c.key as c.value for c in priorUseDataProvider')
          input(ng-show="isPriorUseOtherSelected", type="text", placeholder='Enter prior use...', ng-model='profile.priorUseOther')

        +field('Prior Use Grade Level', 'profile.priorGradeLevel')
          tight-button-bar(id='profile.priorGradeLevel', ng-model="profile.priorGradeLevel", button-provider="gradeLevelDataProvider", key="key")

        +field('Reviews Passed', 'profile.reviewsPassed')
          label(ng-repeat='rp in reviewsPassedDataProvider', style="width:50%;")
            input(type='checkbox',ng-model='rp.selected',ng-change='onChangeReviewsPassed(rp.key)',style='margin-right: 3px;')
            | {{rp.key}}
            input(ng-if='rp.key == "Other"', ng-show='rp.selected', style='margin-left:10px;', type='text', placeholder='Enter review...', ng-model='profile.reviewsPassedOther')

      br/

      +h_form
        h6 Ownership

        +field('Author', 'contributorDetails.author')

        +field('Credentials','contributorDetails.credentials')
          select(id='contributorDetails.credentials',ng-model='contributorDetails.credentials', ng-options='c.key as c.value for c in credentialsDataProvider')
          input(id='contributorDetails.credentialsOther',ng-show="isCredentialsOtherSelected", type="text", placeholder='Enter credentials...', ng-model='contributorDetails.credentialsOther')

        +field('* Copyright Owner','contributorDetails.copyrightOwner')

        +field('* Copyright Year','contributorDetails.copyrightYear')
          select(id='contributorDetails.copyrightYear',ng-model='contributorDetails.copyrightYear', ng-options='c for c in copyrightYearDataProvider', style="width:170px;")

        +field('* Copyright Expiration','contributorDetails.copyrightExpirationDate')
          select(id='contributorDetails.copyrightExpirationDate',ng-model='contributorDetails.copyrightExpirationDate', ng-options='c for c in copyrightExpirationYearDataProvider', style="width:170px;")

        +field('Website', 'contributorDetails.sourceUrl')

        br/

        additional-copyright-information-for-profile(copyrights="contributorDetails.additionalCopyrights",
          prompt="Does this item contain any other copyrighted materials? E.g. book passage, image, etc.")



