include ../v2-mixins/modal

//Scoring popup..
script( type="text/ng-template", id="/templates/popups/scoring")
  +modal('Scoring', 'Ok')
    
    .alert.title
        | An item with only one question will receive full weight. In an item with more than one question, you can assign specific weights to each part. This feature is optional; if you don't adjust weights, weight will be evenly divided across each question.

    .container(style="max-width: 700px;")
      component-weights(
        ng-disabled="{{componentSize != 'many'}}",
        ng-model="components",
        markup="xhtml",
        component-set="interactions")

script(type="text/ng-template", id="/templates/question")
  .question(ng-controller="QuestionController")
    .col-md-6
      .row.button-bar
        button.pull-right.btn.btn-default(
          ng-click="togglePreview()",
          ng-class="{'btn-warning': !previewOn}")  
          | {{previewOn ? 'Close' : 'Preview'}} Question 
          i.fa.fa-toggle-right
        button.pull-right.btn.btn-default(ng-click="scoring()") Scoring

      hr/

      .row
        wiggi-wiz(
          formatting-display="dropdown",
          ng-model="item.xhtml",
          focus="true",
          features="extraFeatures",
          feature-overrides="overrideFeatures",
          image-service="imageService")

      br/

      .row
        .panel.summary-feedback-panel
          .panel-heading
            h4.panel-title
              a(ng-click="showSummaryFeedback = !showSummaryFeedback")
                | Add Feedback (optional)
                i.fa.fa-comment-o
          .panel-body(collapse="!showSummaryFeedback")
            div(mini-wiggi-wiz="", 
              ng-model='item.summaryFeedback', 
              placeholder='Type here',
              feature-overrides="overrideFeatures",
              image-service="imageService", 
              features="linkFeature")

    .col-md-6

      .preview(ng-show="previewOn", 
          ng-controller="ClientSidePreview")
        .item-preview-wrapper
          .player-label
            img(src='../../images/item-player-label.png')
          .player-container
            corespring-preview-player(
              player-mode="editor",
              player-markup="item.xhtml",
              player-item="item",
              player-session="rootModel.session",
              player-outcomes="outcome")
          .row
            player-control-panel(
              data-mode='playerMode', 
              data-settings='playerSettings', 
              data-score="score")




