extends layout

block header-scripts

  if newRelicRumEnabled
    script(type="text/javascript", src="!{newRelicRumScriptPath}")
    script(type="text/javascript").

      if(window.NREUM){
        NREUM.info = !{newRelicRumConfig}
      } else {
        console.warn('newrelic agent not loaded!')
      }
  else
    <!-- new relic disabled -->

block content
  .root(ng-controller="CatalogRoot", dimension-propagator='{highFrequencyDelay: 300, lowFrequencyDelay: 1000}')
    div(question-information="", tabs="tabs", ng-model="item")

block after-main-script
  
  script(type="text/javascript").
    angular.module('corespring-#{appName}').config(['$provide', function($provide) {
      $provide.constant("STATIC_PATHS", !{staticPaths} );
      $provide.value('PlayerSkin', {iconSet: "!{iconSet}", colors: !{colors}});
    }]);


