extends layout

block content
  style

  .root(ng-controller="DevEditorRoot")
    .top-row
      span Dev Editor
      .pull-right
        button.btn.btn-sm.btn-default(ng-click="save()") Save
    .bottom-row
      
      .xhtml-pane(ui-ace,
          ng-model="xhtml",
          ui-ace="{mode: 'html', useWrapMode : true, onLoad: aceLoaded, onChange: aceChanged }")
      .json-pane(ui-ace
          ng-model="json",
          ui-ace="{mode: 'json', useWrapMode : true, onLoad: aceLoaded, onChange: aceJsonChanged }")
      .preview(ng-controller="ClientSidePreview")
        .item-preview-wrapper
          .player-label
            img(src='../../images/item-player-label.png')
          .player-container
            optimized-preview-player(
              ng-model="xhtml",
              player-components="item.components",
              player-outcomes="outcome")
            summary-feedback(ng-model="item.summaryFeedback", session-complete="session.isComplete")
          preview-player-control-panel(
            data-mode='playerMode', 
            data-settings='playerSettings', 
            data-score="score")
