extends layout

//After the angular module has been created.
block after-main-script

  script.
    var editorOptions = !{options};
    angular.module('corespring-#{appName}').constant('STATIC_PATHS', editorOptions.staticPaths);
    angular.module('corespring-#{appName}').constant('DEBOUNCE_IN_MILLIS', editorOptions.debounceInMillis || 5000 );

block content
  style

  .root(ng-controller="DevEditorRoot")
    table.panes
      tr
        td.top(colspan="4")
          span Dev Editor
          .pane-buttons.btn-group
            label.btn.btn-default(btn-checkbox="true", ng-model="panes.html") html
            label.btn.btn-default(btn-checkbox="true", ng-model="panes.json") json
            label.btn.btn-default(btn-checkbox="true", ng-model="panes.scoring") scoring
            label.btn.btn-default(btn-checkbox="true", ng-model="panes.files") files
            label.btn.btn-default(btn-checkbox="true", ng-model="panes.player") player
          .pull-right
            button.btn.btn-sm.btn-default(ng-click="save()", ng-hide="initialData.hideSaveButton") Save

      tr
        td.pane(ng-show="panes.html")
          .tex2jax_ignore.xhtml-pane(
              ng-model="xhtml",
              ui-ace="{mode: 'html', useWrapMode : true, onLoad: aceLoaded, onChange: aceChanged }")
        td.pane(ng-show="panes.json")
          .json-pane(
              ng-model="json",
              ui-ace="{mode: 'json', useWrapMode : true, onLoad: aceLoaded, onChange: aceJsonChanged }")
        td.pane(ng-show="panes.files")
          .files-pane(ng-controller="AssetsController")
            table
              tr
                td
                  div.file-item(ng-repeat="f in item.files",ng-class="{selected: $parent.selected == f.name}")
                    a(ng-click="$parent.selected = f.name") {{f.name}}
                    i.fa.fa-trash(ng-click="removeFile(f.name)")
                  button.btn.btn-info.upload-button(file-uploader="", fu-url="calculateUrl()", fu-upload-completed="onFileUploadCompleted", fu-mode="raw")
                    span
                      i.fa.fa-upload
                      | &nbsp;Upload Image
                td
                  img(ng-show="selected", ng-src="{{selected}}")

        td.pane(ng-show="panes.scoring")
          .custom-js-pane(
              ng-model="customScoringJs",
              ui-ace="{mode: 'javascript', useWrapMode : true }")
        td.pane(ng-show="panes.player", keep-updating-player-size="true")
          .preview(ng-controller="ClientSidePreview")
            .item-preview-wrapper
              .player-label
                img(ng-src='{{playerLabelImg}}')
              .player-container
                preview-player(
                  data-jade-template='dev-editor',
                  player-item="item",
                  player-markup="xhtml",
                  player-components="components",
                  player-outcomes="outcome")
                summary-feedback(ng-model="item.summaryFeedback", session-complete="session.isComplete")
              preview-player-control-panel(
                data-mode='playerMode',
                data-settings='playerSettings',
                data-score="score")
