extends layout

block content
  style

  .root(ng-controller="DevEditorRoot")
    .top-row
      .left
        span XHTML
      .right
        span Component JSON
      .preview
        span Preview
        .pull-right
          button.btn.btn-sm.btn-default(ng-click="save()") Save
    .bottom-row
      .left
        div(ui-ace,
          ng-model="xhtml",
          style="position: absolute;",
          ui-ace="{useWrapMode : true, onLoad: aceLoaded, onChange: aceChanged }")
      .right
        div(ui-ace
          ng-model="json",
          style="position: absolute;",
          ui-ace="{useWrapMode : true, onLoad: aceLoaded, onChange: aceJsonChanged }")
      .preview
        optimized-preview-player(
          ng-model="xhtml",
          player-components="item.components")
