extends layout

block content

  | <!-- 
  |  !{versionInfo}
  | -->


  include templates/question
  include templates/profile
  include templates/supporting-materials
  include templates/metadata

  .root(ng-controller="Root", dimension-propagator='')
    .container-fluid
      include partials/nav
    .main-content(ui-view="main")


//After the angular module has been created.
block after-main-script

  script(type="text/javascript").

    (function(){

      function mkEditorState(name){
        return {
          url: '/' + name,
          views: {
            main: {
              templateUrl: '/templates/' + name
            }
          }
        }
      }

      var appLoadConfig = {
        defaultPath: '/question',
        states: {
          question : mkEditorState('question'),
          profile : mkEditorState('profile'),
          'supporting-materials' : mkEditorState('supporting-materials'),
          metadata : {
            url: '/metadata',
            params: {
              key: 'key'
            },
            views: {
              main: {
                templateUrl: '/templates/metadata'
              }
            }
          }
        }
      };

      function uiRouterConfig($provide, $stateProvider, $urlRouterProvider) {
        $urlRouterProvider.otherwise(appLoadConfig.defaultPath);
        for( var x in appLoadConfig.states){
          $stateProvider.state(x, appLoadConfig.states[x]);
        }
      }
      
      var editorOptions = !{options}; 
      angular.module('corespring-#{appName}').constant('STATIC_PATHS', editorOptions.staticPaths); 
      angular.module('corespring-#{appName}').constant('DEBOUNCE_IN_MILLIS', editorOptions.debounceInMillis || 5000 ); 
      angular.module('corespring-#{appName}').config(uiRouterConfig);
      
      angular.module('corespring-#{appName}')
        .config(['$tooltipProvider', function($tooltipProvider) {
          //add ng-ui-tooltip-close as an event to close the tooltip
          //this enables you to hide the tooltip by calling elem.trigger('ng-ui-tooltip-close');
          $tooltipProvider.setTriggers({
            mouseenter: 'mouseleave ng-ui-tooltip-close',
            click: 'click ng-ui-tooltip-close',
            focus: 'blur ng-ui-tooltip-close'
          });
        }]);
    })(this);