extends layout

block content

  | <!-- 
  |  !{versionInfo}
  | -->


  include templates/question
  include templates/profile
  include templates/supporting-materials

  .root(ng-controller="Root", dimension-propagator='')
    .container-fluid
      include partials/nav
    .main-content(ui-view="main")


//After the angular module has been created.
block after-main-script

  script(type="text/javascript").

    (function(){

      function mkEditorState(name){
        return {
          url: '/' + name,
          views: {
            main: {
              templateUrl: '/templates/' + name
            }
          }
        }
      }

      var appLoadConfig = {
        defaultPath: '/question',
        states: {
          question : mkEditorState('question'),
          profile : mkEditorState('profile'),
          'supporting-materials' : {
            url: '/supporting-materials/{index}',
            params: {
              index: { value: '0' }
            },
            views: {
              main: {
                templateUrl: '/templates/supporting-materials'
              }
            }
          }
        }
      };

      function uiRouterConfig($provide, $stateProvider, $urlRouterProvider) {
        $urlRouterProvider.otherwise(appLoadConfig.defaultPath);
        for( var x in appLoadConfig.states){
          $stateProvider.state(x, appLoadConfig.states[x]);
        }
      }
      
      console.log(!{staticPaths});
      angular.module('corespring-#{appName}').constant("STATIC_PATHS", !{staticPaths} ); 
      angular.module('corespring-#{appName}').config(uiRouterConfig);

    })(this);
