extends layout



block header-scripts
  if useNewRelicRum

    script(type="text/javascript", src="../../js/libs/newrelic/newrelic-rum-js-agent.min.js")

    script(type="text/javascript").

      NREUM.info!= newRelicRumConfig

block content

  mixin player
    div(corespring-player='corespring-player',
      data-jade-template='player',
      player-mode='player',
      player-markup='item.xhtml',
      player-item='item',
      player-session='session',
      player-outcomes='outcome')
      != xhtml
    summary-feedback(ng-model='item.summaryFeedback', session-complete='session.isComplete')

  .root(ng-controller='Root', dimension-propagator='')

    if showControls
      div(ng-controller="ContainerPlayerController")
        div(ng-controller="Main")
          div(player-control-panel, 
          data-mode='playerMode', 
          data-settings='playerSettings', 
          data-score="score", 
          show-submit-button="true")
            +player
    else 
      div(ng-controller='Main')
        +player

    //[if lte IE 8]> <script src="../../js/common/ie-support/Function.bind.js"></script> <![endif]
    //[if lte IE 8]> <script src="../../js/common/ie-support/Array.map.js"></script> <![endif]
    //[if lte IE 9]> <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]
    //[if lte IE 9]> <script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.2.6/json3.min.js"></script> <![endif]

block before-main-script
  
  script(type="text/javascript").
    
    window.playerVersionInfo = !{versionInfo};

block after-main-script

  script(type="text/javascript").

    angular.module( 'corespring-player').config(['$provide', function($provide) {

      $provide.decorator('PlayerService', ['$delegate', '$sniffer', '$log', function ($delegate, $sniffer, $log) {
        function Wrapper() {
          var inst = new $delegate();
          for (var x in inst) {
            if (typeof(inst[x]) === 'function') {
              this[x] = inst[x];
            }
          }
          if (typeof(this.loadItemAndSession) !== 'function') {
            $log.error(' -----------> override loadItemAndSessionSession failed!!!');
          } else {
            this.loadItemAndSession = function (onSuccess, onFailure, id) {
              $log.log(' -----------> override loadItemAndSessionSession!!!');
              var sessionJson = !{sessionJson} || {};
              onSuccess(sessionJson);
            };
          }
        }
        return Wrapper;
      }]);
    }]);
