extends layout



block header-scripts


  if serviceWorker
    script(type="text/javascript").
      console.log("loading service worker: ", '!{serviceWorker}');

      if ('serviceWorker' in navigator) {

        window.addEventListener("load", function() {
          navigator.serviceWorker
            .register("!{serviceWorker}")
            .then(function(){ return navigator.serviceWorker.ready;})
            .then(function(register){
              register.active.postMessage(
                JSON.stringify({ itemId: "!{itemId}" })
              );
            })
            .catch(function(e) {
              console.error("Error loading service worker: ", e);
            });
        });

      }

  if newRelicRumEnabled
    script(type="text/javascript", src="!{newRelicRumScriptPath}")
    script(type="text/javascript").

      if(window.NREUM){
        NREUM.info = !{newRelicRumConfig}
      } else {
        console.warn('newrelic agent not loaded!')
      }
  else
    <!-- new relic disabled -->

  if warnings
    script(type="text/javascript").
      var warnings = !{warnings};
      for (var i in warnings) {
        console.warn(warnings[i]);
      }

block content

  mixin player
    div(corespring-player='corespring-player',
      data-jade-template='player',
      player-mode='player',
      player-markup='item.xhtml',
      player-item='item',
      player-session='session',
      player-outcomes='outcome')
      != xhtml

  .root(ng-controller='Root', dimension-propagator='')

    if showControls
      div(ng-controller="ContainerPlayerController")
        div(ng-controller="Main")
          div(player-control-panel, 
          data-mode='playerMode', 
          data-settings='playerSettings', 
          data-score="score", 
          show-submit-button="true")
            +player
    else 
      div(ng-controller='Main')
        +player

    //[if lte IE 8]> <script src="../../js/common/ie-support/Function.bind.js"></script> <![endif]
    //[if lte IE 8]> <script src="../../js/common/ie-support/Array.map.js"></script> <![endif]
    //[if lte IE 9]> <script src="../../../components/html5shiv/dist/html5shiv.min.js"></script> <![endif]
    //[if lte IE 9]> <script src="//cdnjs.cloudflare.com/ajax/libs/json3/3.2.6/json3.min.js"></script> <![endif]

block before-main-script
  
  script(type="text/javascript").
    
    window.playerVersionInfo = !{versionInfo};

block after-main-script

  script(type="text/javascript").

    angular.module( 'corespring-player').config(['$provide', function($provide) {
      $provide.factory('EmbeddedItemAndSession', function(){
        return !{sessionJson} || {};
      });
      $provide.value('PlayerSkin', {iconSet: "!{iconSet}", colors: !{colors}});
    }]);
