extends layout

block content

  | <!-- 
  |  !{versionInfo}
  | -->

  .root(ng-controller="Root", dimension-propagator='')

    div.single-component-editor(show)

    tabset(ng-show="showNavigation")
      tab(heading="Configuration", 
        select="showConfig()", 
        active="configActive") 
      tab(heading="Preview", 
        ng-show="previewEnabled", 
        select="showPreview()", 
        active="previewActive") 

    .config(ng-show="activePane == 'config'")
      .configuration
      hr/
      .bar
        button.save-button(ng-show="showSaveButton", ng-disabled="saving").btn.btn-primary(ng-click="save()") Save
        .alert-holder
          alert.alert-danger(ng-show="saveError", ng-click="closeError()")
            button.close(type="button", aria-label="Close")
              span(aria-hidden="true") &times;
            | {{saveError}}


    //- .preview(ng-show="activePane == 'preview'")

    .preview(ng-show="activePane == 'preview'",
      ng-controller="ClientSidePreview")
      .item-preview-wrapper
        .player-label
          img(ng-src='{{playerLabelImg}}')
        .player-container
          preview-player(
            data-jade-template='templates/question',
            player-markup="item.xhtml",
            player-item="item",
            player-components="item.components",
            player-outcomes="outcome")

          summary-feedback(ng-model='item.summaryFeedback', session-complete='session.isComplete')
        .row
          preview-player-control-panel(
            data-mode='playerMode', 
            data-settings='playerSettings', 
            data-score="score")

//After the angular module has been created.
block after-main-script

  script(type="text/javascript").

    (function(){
      var editorOptions = !{options}; 
      angular.module('corespring-#{appName}').constant('STATIC_PATHS', editorOptions.staticPaths); 
      angular.module('corespring-#{appName}').constant('DEBOUNCE_IN_MILLIS', editorOptions.debounceInMillis || 5000 ); 
      angular.module('corespring-#{appName}')
    })(this);