// singleComponentEditor

extends layout

block content

  | <!-- 
  |  !{versionInfo}
  | -->

  .root(ng-controller="Root", dimension-propagator='')

    tabset
      tab(heading="Configuration") 
        .configuration
        hr/
        .bar
          button.save-button(ng-disabled="saving").btn.btn-primary(ng-click="save()") Save
          .alert-holder
            alert.alert-danger(ng-show="saveError", ng-click="closeError()")
              button.close(type="button", aria-label="Close")
                span(aria-hidden="true") &times;
              | {{saveError}}


      tab(heading="Preview") 
        .preview
    

//After the angular module has been created.
block after-main-script

  script(type="text/javascript").

    (function(){
      var editorOptions = !{options}; 
      angular.module('corespring-#{appName}').constant('STATIC_PATHS', editorOptions.staticPaths); 
      angular.module('corespring-#{appName}').constant('DEBOUNCE_IN_MILLIS', editorOptions.debounceInMillis || 5000 ); 
      angular.module('corespring-#{appName}')
    })(this);