// singleComponentEditor

extends layout

block content

  | <!-- 
  |  !{versionInfo}
  | -->

  .root(ng-controller="Root", dimension-propagator='')

    tabset
      tab(heading="Configuration") 
        .configuration
        hr/
        .bar
          button.btn.btn-primary(ng-click="save()") Save  

      tab(heading="Preview") 
        .preview
    

//After the angular module has been created.
block after-main-script

  script(type="text/javascript").

    (function(){
      var editorOptions = !{options}; 
      angular.module('corespring-#{appName}').constant('STATIC_PATHS', editorOptions.staticPaths); 
      angular.module('corespring-#{appName}').constant('DEBOUNCE_IN_MILLIS', editorOptions.debounceInMillis || 5000 ); 
      angular.module('corespring-#{appName}')
    })(this);