script#designer(type="text/ng-template")
  .designer(ng-controller="Designer")

    .editor-container(ng-class="editorMode", ng-show="section == 'main'")
      wiggi-wiz(
        formatting-display="dropdown",
        ng-model="data.item.xhtml",
        features="extraFeatures",
        feature-overrides="overrideFeatures"
        image-service="imageService",
        ng-show="editorMode=='visual'")
        toolbar(basic="bold italic", formatting="blockquote h1 h2 h3")
        edit-pane-toolbar(alignment="bottom")
          .btn-group.pull-right
            button(ng-click="closePane()", class="btn btn-sm btn-success", style="float:right;") Done

    .weighting-container(ng-show="section == 'weighting'")
      .alert.title
        | An item with only one question will receive full weight. In an item with more than one question, you can assign specific weights to each part. This feature is optional; if you don't adjust weights, weight will be evenly divided across each question.

      .container(style="max-width: 700px;")
        component-weights(
          ng-disabled="{{componentSize != 'many'}}",
          ng-model="data.item.components",
          markup="data.item.xhtml",
          component-set="componentSet")

    .summary-feedback-container(ng-show="section == 'summary-feedback'")
      .centered-form
        p Use this option if you would like to provide summary level feedback for the entire item
        label
          input(type='checkbox', ng-model='isSummaryFeedbackSelected')
          | Add summary feedback
        div(ng-show="isSummaryFeedbackSelected")
          textarea(ng-model="data.item.summaryFeedback",class="form-control",
             placeholder="Type here")

          .button-holder
            a.btn.btn-success.btn-small.btn-sm
              | Done

