script(
  type="text/ng-template", 
  id="/templates/popups/scoring")
  +modal('Scoring', 'Ok')
    
    .alert.title
        | An item with only one question will receive full weight. In an item with more than one question, you can assign specific weights to each part. This feature is optional; if you don't adjust weights, weight will be evenly divided across each question.

    .container(style="max-width: 700px;")
      component-weights(
        ng-disabled="{{componentSize != 'many'}}",
        ng-model="item.components",
        markup="item.xhtml",
        component-set="interactions")
